$primary: #72578A;
$secondary: #C37943;
$light: white;
$dark: #2C2830;
$gray: #a4bab1;
$danger: #8F4B4B;
$warning: #fffa00;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "dark": $dark,
        "gray": $gray,
        "danger": $danger,
        "warning": $warning,
);
$base-font-family: 'Gotham Pro', sans-serif;
$header-font-family: 'Gotham Pro', sans-serif;

$base-font: 100 20px/110% $base-font-family;
$base-font-sm: 100 16px/120% $base-font-family;

$h1-font: 900 100px/95% $header-font-family;
$h1-font-xl: 900 60px/95% $header-font-family;
$h1-font-sm: 900 40px/95% $header-font-family;

$h2-font: 900 100px/95% $header-font-family;
$h2-font-xl: 900 60px/95% $header-font-family;
$h2-font-sm: 900 40px/95% $header-font-family;

$h3-font: 900 60px/95% $header-font-family;
$h3-font-sm: 900 38px/95% $header-font-family;

$h4-font: 900 40px/95% $header-font-family;
$h4-font-sm: 900 24px/95% $header-font-family;

$h5-font: 400 18px/125% $base-font-family;
$h5-font-sm: 400 18px/125% $base-font-family;

$small-font: 400 14px/18px $base-font-family;

$grid-gutter-width: 40px;


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1200px,
        xl: 1440px,
        xxl: 1850px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 1200px,
        xl: 1400px,
        xxl: 1850px
);

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
