body {
    width: 100%;
    margin: 0;
    background: $dark;
    background-size: cover;
    color: $light;
    backface-visibility: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border: 2px solid transparent;
        border-radius: 10px;
        background-clip: content-box;
    }

    --media: xl;

    @include media-breakpoint-down(xl) {
        --media: lg;
    }

    @include media-breakpoint-down(lg) {
        --media: md;
    }

    @include media-breakpoint-down(md) {
        --media: sm;
    }

    @include media-breakpoint-down(sm) {
        --media: xs;
    }
}

html,
body {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container{
    @include media-breakpoint-between(lg, xxl){
        max-width: 98%;
    }
}
