.btn {
    font: $base-font-family;
    font-size: 40px;
    padding: 16px 32px;
    color: $light;
    font-style: normal;
    font-weight: 300;
    line-height: 95%;
    position: relative;
    border: 2px solid $light;
    border-radius: 0;
    cursor: pointer;

    &:active:focus {
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;
    }

    &[disabled] {
        opacity: 0.3;
        pointer-events: none;
        color: $light;
    }

    &.btn_usual {
        z-index: 1;

        &:before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transition: width .3s;
            background: $light;
            z-index: -1;
        }

        &:hover {
            color: $dark;

            &:before {
                width: 100%;
                left: 0;
                right: auto;
                background: $light;
            }
        }
    }

    &.btn_inverse {
        z-index: 1;
        color: $dark;
        border: 2px solid $dark;

        &:before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transition: width .3s;
            background: $dark;
            z-index: -1;
        }

        &:hover {
            color: $light;

            &:before {
                width: 100%;
                left: 0;
                right: auto;
                background: $dark;
            }
        }
    }

    &.btn_primary {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $primary;
            width: 100%;
            height: 0;
            transition: height .3s;
            z-index: -1;
        }

        &:hover {
            color: $light;

            &:before {
                height: 100%;
                bottom: 0;
                top: auto;
                background: $primary;
            }
        }
    }

    &.btn_light {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $light;
            width: 100%;
            height: 0;
            transition: height .3s;
            z-index: -1;
        }

        &:hover, &.active {
            color: $dark;

            &:before {
                height: 100%;
                bottom: 0;
                top: auto;
                background: $light;
            }
        }
    }

    &.btn_danger {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $danger;
            width: 100%;
            height: 0;
            transition: height .3s;
            z-index: -1;
        }

        &:hover {
            color: $light;

            &:before {
                height: 100%;
                bottom: 0;
                top: auto;
                background: $danger;
            }
        }
    }

    &.btn_secondary {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $secondary;
            width: 100%;
            height: 0;
            transition: height .3s;
            z-index: -1;
        }

        &:hover {
            color: $light;

            &:before {
                height: 100%;
                bottom: 0;
                top: auto;
                background: $secondary;
            }
        }
    }

    @include media-breakpoint-down(xl) {
        font-size: 32px;
    }
    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
        padding: 15px;
    }
}

.btn-close {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
