.link {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.link_light {
    color: $light;

    &:hover {
        color: darken($light, 20%);

        i {
            color: darken($light, 30%);
        }
    }
}

.link_dark {
    color: $dark;

    &:hover {
        color: $primary;
    }
}

.link_gray {
    color: $gray;

    &:hover {
        color: $primary;
    }
}

.link_primary {
    color: $primary;

    &:hover {
        color: darken($primary, 10%);
    }
}
