@font-face {
    font-family: 'Gotham Pro';
    font-weight: 300;
    src: local('Gotham Pro'),
    url("/assets/fonts/GothamPro-Light.eot") format('embedded-opentype'),
    url("/assets/fonts/GothamPro-Light.otf") format('opentype'),
    url("/assets/fonts/GothamPro-Light.ttf") format('truetype'),
    url("/assets/fonts/GothamPro-Light.woff") format('woff');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 400;
    src: local('Gotham Pro'),
    url("/assets/fonts/GothamPro-Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/GothamPro-Regular.otf") format('opentype'),
    url("/assets/fonts/GothamPro-Regular.ttf") format('truetype'),
    url("/assets/fonts/GothamPro-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 500;
    src: local('Gotham Pro'),
    url("/assets/fonts/GothamPro-Medium.eot") format('embedded-opentype'),
    url("/assets/fonts/GothamPro-Medium.otf") format('opentype'),
    url("/assets/fonts/GothamPro-Medium.ttf") format('truetype'),
    url("/assets/fonts/GothamPro-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Gotham Pro';
    font-weight: 700;
    src: local('Gotham Pro'),
    url("/assets/fonts/GothamPro-Bold.eot") format('embedded-opentype'),
    url("/assets/fonts/GothamPro-Bold.otf") format('opentype'),
    url("/assets/fonts/GothamPro-Bold.ttf") format('truetype'),
    url("/assets/fonts/GothamPro-Bold.woff") format('woff');
}

@font-face {
    font-family: "Gotham Pro";
    font-weight: 800;
    src: local("Gotham Pro"),
    url("/assets/fonts/GothamPro-Black.eot") format('embedded-opentype'),
    url("/assets/fonts/GothamPro-Black.otf") format('opentype'),
    url("/assets/fonts/GothamPro-Black.ttf") format('truetype'),
    url("/assets/fonts/GothamPro-Black.woff") format('woff');
}


body {
    font: $base-font;
    @include media-breakpoint-down(md) {
        font: $base-font-sm;
    }

    .title_primary {
        color: $primary;
    }

    .h1, h1 {
        font: $h1-font;
        margin-bottom: 2rem;

        @include media-breakpoint-down(xl) {
            font: $h1-font-xl;
        }
        @include media-breakpoint-down(md) {
            font: $h1-font-sm;
            margin-bottom: 1rem;
        }
    }

    .h1_super {
        font-size: 46px;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            font: $h1-font-sm;
        }
    }

    .h2, h2 {
        font: $h2-font;
        margin-bottom: 1rem;

        @include media-breakpoint-down(xl) {
            font: $h2-font-xl;
        }
        @include media-breakpoint-down(md) {
            font: $h2-font-sm;
        }
    }

    .h3, h3 {
        font: $h3-font;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            font: $h3-font-sm;
        }
    }

    .h4, h4 {
        font: $h4-font;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            font: $h4-font-sm;
        }
    }

    .h5, h5 {
        font: $h5-font;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            font: $h5-font-sm;
        }
    }

    a {
        color: $light;
        text-decoration: none;

        &:hover {
            color: darken($light, 30%);
        }
    }

    p, .list-styled {
        a {
            border-bottom: 1px dashed orange;

            &:hover {
                text-decoration: none;
            }
        }
    }

    [role=button] {
        cursor: pointer;
    }

    small, .small {
        line-height: 1.1;
        font: $small-font;
    }

    .font-weight-medium {
        font-weight: 500;
    }

    p {
        margin-bottom: 0;

        & + & {
            margin-top: 15px;
        }
    }

    strong {
        font-weight: 600;
    }

    .text-muted {
        opacity: 0.6;
        color: inherit !important;
    }

    [class^="icon-"], [class*=" icon-"] {
        color: $light;
    }
}
