.footer {
    text-align: center;
    margin-bottom: 140px;

    h2 {
        text-align: center;
        margin-bottom: 70px;
        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
        }
    }

    .footer__logo {
        margin-bottom: 70px;

        img {
            width: 148px;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: 50px;
            img {
                width: auto;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .footer__menu {
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        @include media-breakpoint-down(xl) {
            flex-direction: column;
            font-size: 28px;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
            font-size: 20px;
            margin-bottom: 50px;
        }

        li {
            padding: 0 5px;
            margin-right: 70px;
            @include media-breakpoint-down(xl) {
                margin-right: 0;
                margin-bottom: 20px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    .footer__contacts {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        @include media-breakpoint-down(md) {
            font-size: 18px;
            margin-bottom: 50px;
            display: block;
        }
    }

    .footer__socials {
        font-size: 33px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(md) {
            font-size: 20px;
        }

        li {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
