.header {
  margin: 0 auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;


  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }

  &.header_no-images {
    background: none !important;

    .header__content-img {
      display: none !important;
    }
  }

  .navbar {
    padding-top: 50px;
    margin-bottom: 90px;
    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      margin-bottom: 75px;
    }

    .navbar-brand {
      margin-right: 80px;
      @include media-breakpoint-down(xl) {
        margin: 25px;
      }
      @include media-breakpoint-down(lg) {
        margin: 0 auto;
      }
    }

    .navbar-mobile {
      @include media-breakpoint-down(lg) {
        position: relative;
        width: 100%;
        display: flex;
      }
    }

    .navbar-contacts {
      display: flex;
      @include media-breakpoint-down(xl) {
        flex-direction: column;
        text-align: right;
      }
      @include media-breakpoint-down(lg) {
        display: block;
        text-align: center;
      }
    }

    .nav-item {
      margin-right: 50px;
      @include media-breakpoint-down(xl) {
        margin-right: 15px;
      }
      @include media-breakpoint-down(lg) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .nav-link {
      color: $light;

      &:hover {
        color: darken($light, 40%);
      }
    }

    .navbar-collapse {
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
  }

  .navbar-toggler {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $light;
    border-radius: 0;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    &:focus {
      box-shadow: none;
    }

    span {
      background: $light;
      position: relative;
      height: 2px;
      border-radius: 1px;
      width: 18px;
      display: inline-block;
      transition: .2s;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background: $light;
        transition: .2s;
      }

      &:before {
        top: -6px;
      }

      &:after {
        bottom: -6px;
        left: 0;
        transition: .2s;
      }
    }

    &.navbar_expand {
      span {
        background: transparent;

        &:before {
          top: 0;
          content: '';
          transform: rotate(-45deg);
        }

        &:after {
          bottom: 0;
          content: '';
          transform: rotate(45deg);
        }
      }
    }
  }

  .header__group {
    margin-top: 120px;
    margin-bottom: 234px;
    display: flex;
    gap: 40px;
    align-items: center;
    @include media-breakpoint-between(lg, xxl) {
      margin-bottom: 120px;
      margin-top: 60px;
      max-width: 656px;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      margin-bottom: 80px;
    }

    .btn {
      @include media-breakpoint-up(xl) {
        width: 420px;
      }
      @include media-breakpoint-down(md) {
        width: auto;
        font-size: 28px;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      display: flex;
      gap: 20px;

      li {
        padding: 0;
        font-size: 28px;
      }
    }
  }
}
