$modal-content-bg: #EEEEEE;
.modal {
    @include media-breakpoint-down(lg) {
        background-color: $modal-content-bg;
    }
}

.modal-dialog {
    max-width: 1600px;

    .modal-content {
        padding: 130px;
        background-color: $modal-content-bg;
        @include media-breakpoint-down(xl) {
            padding: 80px;
        }
        @include media-breakpoint-down(lg) {
            padding: 50px 20px;
        }
    }

    .feedback__content {
        font-weight: 400;
        color: $dark;
        padding: 0;

        h2 {
            font-size: 50px;
            margin-right: 198px;
            @include media-breakpoint-down(xl) {
                margin-right: 130px;
            }
            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }
        }

        &:after {
            content: none;
        }

        .btn {
            font-weight: 400;
        }
    }

    .feedback__contacts {
        .feedback__contacts-text {
            margin-right: 198px;
            @include media-breakpoint-down(xl) {
                margin-right: 130px;
            }

            @include media-breakpoint-down(lg) {
                margin-right: 0;
            }
        }
    }

    .form-item {
        .form-control {
            color: $dark;

            &:focus {
                border: 2px solid $dark;
            }
        }

        .form-label {
            background: $modal-content-bg;
            color: $dark;
        }
    }
}
