<section class="about-company">
        <div class="container">
            <div class="about-company__content">
                <h2 class="text-primary" id="aboutCompanyTitle">
                    Мы - сработанная команда специалистов
                </h2>
                <div class="row">
                    <div class="offset-lg-1 col-lg-11 col-xl-9">
                        <h3 id="aboutCompanySubtitle">Что это значит и в чем тут для вас выгода?</h3>
                        <div class="row">
                            <div class="col-lg-4" id="aboutCompanyCol1">
                                <p>Каждый специалист нашего агентства является штатным сотрудником и сосредоточен на задачах текущего проекта.</p>
                                <p>В отличие от фрилансеров, вся команда глубоко погружается в сферу вашей деятельности. Мы не жалеем времени сотрудников на аналитику.</p>
                            </div>
                            <div class="col-lg-4" id="aboutCompanyCol2">
                                <p>Большая часть команды работает вместе более 5 лет. За это время мы разработали наиболее эффективные сценарии взаимодействия.</p>
                                <p>Наши сотрудники не пропадают со связи и не сбегают с недоделанной работой. Мы всегда контролируем процесс и знаем где они живут ;)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn_usual"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCertificates"
                    aria-expanded="false"
                    aria-controls="collapseCertificates"
                    id="aboutCompanyButtonText"
            >
                А есть сертификаты?
            </button>
            <div id="collapseCertificates"
                 class="collapse certificates__collapse"
            >
                <div class="certificates__collapse-item">
                    <div class="row">
                        <div class="col-lg-5 col-xl-4 mb-5 mb-lg-0">
                            <h3 id="certificatesTitle">Есть.</h3>
                            <div class="row">
                                <div class="offset-lg-2 col-lg-10 offset-xl-3 col-xl-9" id="certificatesTextTop">
                                    <p>
                                        Маркетинг - это постоянно меняющаяся сфера, поэтому без обучения легко выпасть из
                                        потока. Наши сотрудники регулярно обновляют свои знания и держат руку на пульсе
                                        рекламных технологий.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-6 offset-xl-2">
                            <div id="certificates"
                                 class="certificates__gallery"
                            >
                                <a href="/assets/images/certificate.jpg"
                                   data-pswp-width="1060"
                                   data-pswp-height="1499"
                                   target="_blank"
                                >
                                    <img src="/assets/images/certificate.jpg"
                                         alt=""
                                    >
                                </a>
                                <a href="/assets/images/certificate.jpg"
                                   data-pswp-width="1060"
                                   data-pswp-height="1499"
                                   target="_blank"
                                >
                                    <img src="/assets/images/certificate.jpg"
                                         alt=""
                                    >
                                </a>
                                <a href="/assets/images/certificate.jpg"
                                   data-pswp-width="1060"
                                   data-pswp-height="1499"
                                   target="_blank"
                                >
                                    <img src="/assets/images/certificate.jpg"
                                         alt=""
                                    >
                                </a>
                                <a href="/assets/images/certificate.jpg"
                                   data-pswp-width="1060"
                                   data-pswp-height="1499"
                                   target="_blank"
                                >
                                    <img src="/assets/images/certificate.jpg"
                                         alt=""
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="certificates__collapse-item">
                    <div class="row">
                        <div class="offset-lg-6 col-lg-6" id="certificatesTextBottom">
                            Здесь мы указываем только основные сертификаты. Если вас интересует более полная информация
                            об образовании конкретного сотрудника, можете узнать в личном порядке.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
