<section class="cases">
        <div class="container">
            <h2 id="casesTitle">Наши кейсы</h2>
            <div class="cases-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cases__item">
                            <div class="cases__item-title">
                                Название кейса с запасом
                            </div>
                            <div class="cases__item-graphic">
                                <img src="/assets/images/cases-graphic.jpg"
                                     alt=""
                                >
                            </div>
                            <div class="cases__item-task">
                                <div class="cases__item-task-text">
                                    <strong>Задача</strong>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </div>
                                <div class="cases__item-task-img">
                                    <img src="/assets/images/cases-photo.jpg"
                                         alt=""
                                    >
                                </div>
                            </div>
                            <div class="cases__item-text">
                                <p>
                                    Более 120 из 500 членов отделения «Единой России» в Алтайском крае подали заявления о выходе из
                                    партии, подтвердил «Коммерсанту» глава отделения Андрей Алексеев.
                                </p>
                                <p>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </p>
                            </div>
                            <div class="cases__item-digits">
                                <div class="cases__item-digits-group">
                                    <div class="hitching"></div>
                                    <div class="digits__card">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>12</strong><span>/сут</span>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>2134</strong><span>/сут</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card digits__card-primary">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>34</strong><span> чел</span>
                                            </div>
                                        </div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>621</strong><span> чел</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cases__item-digits-text">
                                        В районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card-percent">
                                        В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из
                                        партии.
                                        Первым на это обратил внимание телеграм-канал «Политджойстик».
                                        <div class="mt-3">
                                            <strong class="text-primary">435%</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cases__item">
                            <div class="cases__item-title">
                                Название кейса с запасом
                            </div>
                            <div class="cases__item-graphic">
                                <img src="/assets/images/cases-graphic.jpg"
                                     alt=""
                                >
                            </div>
                            <div class="cases__item-task">
                                <div class="cases__item-task-text">
                                    <strong>Задача</strong>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </div>
                                <div class="cases__item-task-img">
                                    <img src="/assets/images/cases-photo.jpg"
                                         alt=""
                                    >
                                </div>
                            </div>
                            <div class="cases__item-text">
                                <p>
                                    Более 120 из 500 членов отделения «Единой России» в Алтайском крае подали заявления о выходе из
                                    партии, подтвердил «Коммерсанту» глава отделения Андрей Алексеев.
                                </p>
                                <p>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </p>
                            </div>
                            <div class="cases__item-digits">
                                <div class="cases__item-digits-group">
                                    <div class="hitching"></div>
                                    <div class="digits__card">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>12</strong><span>/сут</span>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>2134</strong><span>/сут</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card digits__card-primary">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>34</strong><span> чел</span>
                                            </div>
                                        </div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>621</strong><span> чел</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cases__item-digits-text">
                                        В районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card-percent">
                                        В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из
                                        партии.
                                        Первым на это обратил внимание телеграм-канал «Политджойстик».
                                        <div class="mt-3">
                                            <strong class="text-primary">435%</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cases__item">
                            <div class="cases__item-title">
                                Название кейса с запасом
                            </div>
                            <div class="cases__item-graphic">
                                <img src="/assets/images/cases-graphic.jpg"
                                     alt=""
                                >
                            </div>
                            <div class="cases__item-task">
                                <div class="cases__item-task-text">
                                    <strong>Задача</strong>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </div>
                                <div class="cases__item-task-img">
                                    <img src="/assets/images/cases-photo.jpg"
                                         alt=""
                                    >
                                </div>
                            </div>
                            <div class="cases__item-text">
                                <p>
                                    Более 120 из 500 членов отделения «Единой России» в Алтайском крае подали заявления о выходе из
                                    партии, подтвердил «Коммерсанту» глава отделения Андрей Алексеев.
                                </p>
                                <p>
                                    В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    Первым на это обратил внимание телеграм-канал «Политджойстик».
                                </p>
                            </div>
                            <div class="cases__item-digits">
                                <div class="cases__item-digits-group">
                                    <div class="hitching"></div>
                                    <div class="digits__card">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>12</strong><span>/сут</span>
                                            </div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>2134</strong><span>/сут</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card digits__card-primary">
                                        <div class="digits__card-item">
                                            Был показатель до начала нашей работы вот такой
                                            <div class="mt-2">
                                                <strong>34</strong><span> чел</span>
                                            </div>
                                        </div>
                                        <div class="digits__card-item">
                                            А в итоге стал вот такой классный показатель
                                            <div class="mt-2">
                                                <strong>621</strong><span> чел</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cases__item-digits-text">
                                        В районе Алтайского края члены «Единой России» начали массово выходить из партии.
                                    </div>
                                </div>
                                <div class="cases__item-digits-group">
                                    <div class="digits__card-percent">
                                        В Благовещенском районе Алтайского края члены «Единой России» начали массово выходить из
                                        партии.
                                        Первым на это обратил внимание телеграм-канал «Политджойстик».
                                        <div class="mt-3">
                                            <strong class="text-primary">435%</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cases-slider__navigation">
                    <div class="cases-slider-prev">
                        <i class="icon-arrow-left"></i>
                    </div>
                    <div class="cases-slider-next">
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
