<section class="profits">
    <div class="container-fluid p-0">
        <div class="accordion" id="accordionBenefits">
            <div class="accordion-item active">
                <div class="accordion-header" id="headingDirector">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#director"
                            aria-expanded="true" aria-controls="director">
                        <span>директор</span>
                    </button>
                </div>
                <div id="director" class="collapse accordion-collapse collapse-horizontal show"
                     aria-labelledby="headingDirector"
                     data-bs-parent="#accordionBenefits">
                    <div class="accordion-body">
                        <div class="profits-item">
                            <img src="/assets/images/director.png" alt="">
                            <div>
                                <h2 id="directorTitle"><span>Что получает</span> директор</h2>
                                <div class="profits-item__text" id="directorText">
                                    <p>
                                        Мы не просто гоним трафик на ваш сайт, а комплексно работаем с продвижением,
                                        учитывая
                                        digital-стратегию компании и остальные направления маркетинга.
                                    </p>
                                    <p>
                                        Мы умеем работать с продуктом любой сложности и на любом этапе развития
                                        проекта.
                                        В
                                        зависимости
                                        от выбранного тарифа, можем взять на себя дополнительные задачи по PR.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingMarketer">
                    <button class="accordion-button collapsed top" type="button" data-bs-toggle="collapse"
                            data-bs-target="#marketer"
                            aria-expanded="false" aria-controls="marketer">
                        <span>маркетолог</span>
                    </button>
                </div>
                <div id="marketer" class="collapse accordion-collapse collapse-horizontal"
                     aria-labelledby="headingMarketer"
                     data-bs-parent="#accordionBenefits">
                    <div class="accordion-body">
                        <div class="profits-item">
                            <img src="/assets/images/marketer.png" alt="">
                            <div>
                                <h2 id="marketerTitle"><span>Что получает</span> маркетолог</h2>
                                <div class="profits-item__text" id="marketerText">
                                    <p>
                                        Мы возьмем на себя полностью направления SEO, оставив на вас более
                                        стратегические
                                        задачи. У нас есть полный штат специалистов, чтобы опеспечить любой объем
                                        работ.

                                    </p>
                                    <p>
                                        Говорим на одном языке. То есть не только не боимся страшных терминов, но и
                                        понимаем
                                        основные волнующие вас вопросы, риски и боли.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingPartner">
                    <button class="accordion-button collapsed top" type="button" data-bs-toggle="collapse"
                            data-bs-target="#partner"
                            aria-expanded="false" aria-controls="partner">
                        <span>партнёр</span>
                    </button>
                </div>
                <div id="partner" class="collapse accordion-collapse collapse-horizontal"
                     aria-labelledby="headingPartner"
                     data-bs-parent="#accordionBenefits">
                    <div class="accordion-body">
                        <div class="profits-item">
                            <img src="/assets/images/partner.png" alt="">
                            <div>
                                <h2 id="partnerTitle"><span>Что получает</span> партнёр</h2>
                                <div class="profits-item__text" id="partnerText">
                                    <p>Мы можем выступать, как ваши подрядчики, партнеры или даже виртуальное подразделение компании. Всегда открыты к идеям и предложениям.</p>
                                    <p>А можете просто приводить нам заказчиков и получать за это процент со сделки, не принимая больше никакого участия в сотрудничестве.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profits-tabs">
        <div class="tab-content" id="profitsTabContent">
            <div class="tab-pane fade show active" id="directorTab" role="tabpanel" aria-labelledby="director-tab">
                <div class="profits-item">
                    <img src="/assets/images/director.png" alt="">
                    <div class="row px-4">
                        <div class="col-md-10">
                            <h2 id="directorTabTitle"><span>Что получает</span> директор</h2>
                            <div class="profits-item__text" id="directorTabText">
                                <p>
                                    Мы не просто гоним трафик на ваш сайт, а комплексно работаем с продвижением,
                                    учитывая
                                    digital-стратегию компании и остальные направления маркетинга.
                                </p>
                                <p>
                                    Мы умеем работать с продуктом любой сложности и на любом этапе развития
                                    проекта.
                                    В
                                    зависимости
                                    от выбранного тарифа, можем взять на себя дополнительные задачи по PR.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="marketerTab" role="tabpanel" aria-labelledby="marketer-tab">
                <div class="profits-item">
                    <img src="/assets/images/marketer.png" alt="">
                    <div class="row px-4">
                        <div class="col-md-10">
                            <h2 id="marketerTabTitle"><span>Что получает</span> маркетолог</h2>
                            <div class="profits-item__text" id="marketerTabText">
                                <p> Мы возьмем на себя полностью направления SEO, оставив на вас более стратегические задачи. У нас есть полный штат специалистов, чтобы обеспечить любой объем работ.</p>
                                <p> Говорим на одном языке. То есть не только не боимся страшных терминов, но и понимаем основные волнующие вас вопросы, риски и боли.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="partnerTab" role="tabpanel" aria-labelledby="partner-tab">
                <div class="profits-item">
                    <img src="/assets/images/partner.png" alt="">
                    <div class="row px-4">
                        <div class="col-md-10">
                            <h2 id="partnerTabTitle"><span>Что получает</span> партнёр</h2>
                            <div class="profits-item__text" id="partnerTabText">
                                <p>
                                    Мы можем выступать, как ваши подрядчики, партнеры или даже виртуальное
                                    подразделение
                                    компании. Всегда открыты к идеям и предложениям.
                                </p>
                                <p>
                                    А можете просто приводить нам заказчиков и получать за это процент со
                                    сделки, не
                                    принимая больше никакого участия в сотрудничестве.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" id="profitsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="btn btn_light active" id="director-tab" data-bs-toggle="tab"
                        data-bs-target="#directorTab"
                        type="button"
                        role="tab" aria-controls="directorTab" aria-selected="true">директор
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn btn_light" id="marketer-tab" data-bs-toggle="tab" data-bs-target="#marketerTab"
                        type="button"
                        role="tab" aria-controls="marketerTab" aria-selected="false">маркетолог
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn btn_light" id="partner-tab" data-bs-toggle="tab" data-bs-target="#partnerTab"
                        type="button"
                        role="tab" aria-controls="partnerTab" aria-selected="false">партнёр
                </button>
            </li>
        </ul>
    </div>
</section>
