<section class="seo">
    <div class="container">
        <div class="seo__content">
            <h2 id="seoTitle">Что такое SEO?</h2>
            <div class="row">
                <div class="offset-lg-1 col-lg-4 col-xl-3 pt-lg-3" id="seoTextCol1">
                    <p>
                        SEO (англ. Search Engine Optimization) это комплекс мер по улучшению сайта для его
                        ранжирования
                        в поисковых системах.
                    </p>
                    <p>
                        Если реклама может транслироваться пользователям, не заинтересованным в товаре или услуге на
                        настоящий момент, то благодаря SEO к вам приходят уже готовые заказчики.
                    </p>
                </div>
                <div class="col-lg-4 col-xl-3 pt-lg-3" id="seoTextCol2">
                    <p>
                        SEO-специалисты оптимизируют ваш сайт так, чтобы поисковые системы показывали его среди
                        первых
                        по ключевым запросам пользователей.
                    </p>
                </div>
                <div class="offset-xl-1 col-lg-3 col-xl-4 seo__keynote" id="seoTextCol3">
                    <p>
                        Основная задача SEO - сделать так, чтобы покупатели находили вас самостоятельно
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-5 col-xl-5 text-center">
                    <img src="/assets/images/seo.png"
                         alt=""
                    >
                </div>
            </div>
            <div class="line"></div>
        </div>
        <button class="btn btn_usual"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeo"
                aria-expanded="false"
                aria-controls="collapseSeo"
                id="seoButtonText"
        >
            А можно подробнее?
        </button>
        <div id="collapseSeo"
             class="collapse seo__collapse"
        >
            <div class="seo__collapse-item">
                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <h3 id="seoMoreInfoTitle">Можно.</h3>
                        <div class="row">
                            <div class="offset-lg-3 col-lg-9" id="seoMoreInfoTopCol1">
                                <p> На место в поисковой выдаче влияет множество факторов: от качества контента и его
                                    релевантности запросам до удобства оформления заказа и упоминаний в сети.</p>
                                <p>Современные поисковые системы используют алгоритмы на основе искусственного
                                    интеллекта, чтобы качественно оценивать сайты в сети и решать, какие из них
                                    предлагать пользователям.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3" id="seoMoreInfoTopCol2">
                        <p>При помощи работы над контентом, кодом и юзабилити сайта, мы учим поисковых роботов «любить»
                            ваши ресурсы, считать их качественными и достойными внимания.</p>
                        <p>Эффективная оптимизация состоит из работы множества специалистов: маркетологов,
                            разработчиков, копирайтеров, дизайнеров и иногда даже целых PR-отделов.</p>
                    </div>
                    <div class="offset-xl-1 col-lg-3 seo__keynote" id="seoMoreInfoTopCol3">
                        <p>SEO учит поисковые системы любить ваш сайт</p>
                        <p>Результатом работы является органический и целевой трафик. Проще говоря, к вам приходит
                            большой процент пользователей, изначально настроенных на заказ.</p>
                    </div>
                </div>
            </div>
            <div class="seo__collapse-item">
                <div class="row">
                    <div class="offset-lg-1 col-lg-4 col-xl-3">
                        <h4 id="seoMoreInfoBottomSubtitle1">Зачем мне SEO?</h4>
                        <div id="seoMoreInfoBottomCol1">
                            <p>Чтобы получать органический целевой трафик на ваши ресурсы без регулярного заказа контекстной или другой рекламы.</p>
                            <p>SEO влияет на узнаваемость бренда и его репутацию. Первые позиции по многим запросам позволяют сразу получить кредит доверия потенциальных покупателей.</p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6 col-xl-5 seo__collapse-item-primary">
                        <h4 class="text-primary" id="seoMoreInfoBottomSubtitle2">
                            А может всё-таки не нужно?
                        </h4>
                        <div class="col-lg-10 col-xl-8" id="seoMoreInfoBottomCol2">
                            <p>Достаточно мало сфер, в которых невозможно использовать SEO. И все-таки для начала мы знакомимся с проектом и определяем рациональность подхода.</p>
                            <p>Мы работаем на результат, поэтому предложим вам другие решения, если в вашем случае они окажутся эффективнее.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
