<section class="stages">
    <div class="container">
        <h2 id="stagesTitle">Этапы <br> работ</h2>
        <div class="stages__info">
            <div class="d-flex flex-column flex-xl-column-reverse justify-content-between">
                <div class="stages__item">
                    <div class="stages__item-number">
                        01
                    </div>
                    <div class="stages__item-text" id="stage1">
                        Знакомство с компанией. Поверхностная аналитика, первоначальный сбор данных, предложение
                        стратегии продвижения и рекомендация тарифа.
                    </div>
                </div>
                <div class="stages__item">
                    <div class="stages__item-number">
                        02
                    </div>
                    <div class="stages__item-text" id="stage2">
                        Заключение договора, получение оплаты и более глубокая аналитика, направленная на поиск
                        точек роста, формирование конкретных целей и путей их достижения.
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-xl-column-reverse justify-content-between">
                <div class="stages__item">
                    <div class="stages__item-number">
                        03
                    </div>
                    <div class="stages__item-text" id="stage3">
                        Реализация всех необходимых первоначальных доработок, работа над созданием или
                        корректировкой имеющегося контента, внедрение первых решений.
                    </div>
                </div>
                <div class="stages__item">
                    <div class="stages__item-number">
                        04
                    </div>
                    <div class="stages__item-text"  id="stage4">
                        Оценка первых результатов, корректировка моделей продвижения, поиски дальнейших точек роста.
                        Ежемесячный отчет с подробной аналитикой.
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn_usual"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseStages"
                aria-expanded="false"
                aria-controls="collapseStages"
                id="stagesButtonText"
        >
            Хочу ещё подробнее
        </button>
        <div id="collapseStages"
             class="collapse stages__collapse"
        >
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <div class="stages__collapse-item">
                        <div class="stages__item-number">
                            01
                        </div>
                        <ul>
                            <li>
                                Вы заполняете заявку на услуги по продвижению
                            </li>
                            <li>
                                Мы проводим базовый аудит ваших ресурсов в сети
                            </li>
                            <li>
                                Интервьюируем руководителя компании или его представителя
                            </li>
                            <li>
                                Исходя из полученных данных, даем рекомендации по выбору тарифа и стратегии
                                продвижения
                            </li>
                            <li>
                                Фиксируем цели и задачи, ресурсы заказчика, а также наш инструментарий и
                                привлекаемых
                                специалистов
                            </li>
                        </ul>
                    </div>
                    <div class="stages__collapse-item">
                        <div class="stages__item-number">
                            02
                        </div>
                        <ul>
                            <li>
                                Согласовываем и подписываем договор
                            </li>
                            <li>
                                Вы оплачиваете первый этап работ: это может быть один месяц или больше, в
                                зависимости от
                                масштабов проекта
                            </li>
                            <li>
                                Получаем от вас доступы к сайту и всем необходимым инструментам (или создаем
                                последние
                                для вас
                                самостоятельно)
                            </li>
                        </ul>
                    </div>
                    <div class="stages__collapse-item">
                        <div class="stages__item-number">
                            03
                        </div>
                        <ul>
                            <li>
                                Проводим анализ спроса, сбор семантики и технический аудит
                            </li>
                            <li>
                                Тщательный анализ конкурентов: от сбора информации от заказчика до самостоятельного
                                исследования
                            </li>
                            <li>
                                Проводим юзабилити аудит: анализ сайта на удобство работы с ним, помогающий выявить
                                основные
                                проблемы и слабые места
                            </li>
                            <li>
                                Анализируем имеющийся контент и составляем план по его замене или доработке
                            </li>
                            <li>
                                Анализируем все статистические данные
                            </li>
                            <li>
                                Формируем общую стратегию на год и подробный план на ближайший квартал
                            </li>
                            <li>
                                Проводим первичную оптимизацию: исправляем основные технические ошибки, вносим
                                первые
                                правки
                            </li>
                        </ul>
                    </div>
                    <div class="stages__collapse-item">
                        <div class="stages__item-number">
                            04
                        </div>
                        <ul>
                            <li>
                                Ежемесячно предоставляем развернутый отчет, который позволит оценить результаты и
                                познакомиться
                                со списком всех выполненных работ. Отчет составляется в максимально удобном и
                                доступном
                                формате,
                                но при необходимости ваш персональный менеджер всегда поможет разобраться в деталях.
                            </li>
                            <li>
                                По запросу можем предоставить отчет о конкретных работах или интересующие
                                статистические
                                данные
                            </li>
                            <li>
                                Бывают вопросы, которые необходимо решить максимально срочно. Для этого существует
                                оперативная коммуникация. Менеджер оперативно отвечает в течение рабочего дня и может
                                выделить 15-20 минут по запросу или больше по предварительной договоренности. При
                                необходимости возможна связь с сотрудниками и в нерабочее время, такие варианты мы можем
                                обсудить еще на первых этапах сотрудничества.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
