<section class="tariffs">
    <div class="container">
        <h2 id="tariffsTitle">Наши тарифы</h2>
        <div class="tariffs-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tariffs__card tariffs__card-basic">
                        <div class="tariffs__card-header">
                            <h4>Basic</h4>
                            <div class="tariffs__card-header-time">
                                <span>2</span> дня
                            </div>
                        </div>
                        <div class="tariffs__card-content">
                            <div class="tariffs__card-text" id="basicText">
                                Базовые работы по SEO, необходимые для медленного, но стабильного роста.
                                Минимальное
                                количество часов разработчиков. Подходит для небольших проектов.
                            </div>
                            <ul>
                                <li>втмоатокмтт тмтмтм ватвомталотм аав</li>
                                <li>В районе Алтайского края члены</li>
                                <li>В Благовещенском районе Алтайского</li>
                                <li>В Благовещенском Алтайского края члены</li>
                                <li>В Благовещенском я члены</li>
                                <li>В Благовещенском рай Алтайского края членысауммаа</li>
                                <li>В Благовещенском районе Алтайского края члены</li>
                            </ul>
                        </div>
                        <div class="tariffs__card-price">
                            <strong>10000₽</strong>
                            средняя цена
                        </div>
                    </div>
                    <button class="btn btn_light w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#callModal"
                    >
                        Хочу тариф
                    </button>
                </div>
                <div class="swiper-slide">
                    <div class="tariffs__card tariffs__card-advanced">
                        <div class="tariffs__card-header">
                            <h4>Advanced</h4>
                            <div class="tariffs__card-header-time">
                                <span>2</span> дня
                            </div>
                        </div>
                        <div class="tariffs__card-content">
                            <div class="tariffs__card-text" id="advancedText">
                                Базовые работы по SEO, необходимые для медленного, но стабильного роста.
                                Минимальное
                                количество часов разработчиков. Подходит для небольших проектов.
                            </div>
                            <ul>
                                <li>втмоатокмтт тмтмтм ватвомталотм аав</li>
                                <li>В районе Алтайского края члены</li>
                                <li>В Благовещенском районе Алтайского</li>
                                <li>В Благовещенском Алтайского края члены</li>
                                <li>В Благовещенском я члены</li>
                                <li>В Благовещенском рай Алтайского края членысауммаа</li>
                                <li>В Благовещенском районе Алтайского края члены</li>
                            </ul>
                        </div>
                        <div class="tariffs__card-price">
                            <strong>10000₽</strong>
                            средняя цена
                        </div>
                    </div>
                    <button class="btn btn_primary w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#callModal"
                    >
                        Хочу тариф
                    </button>
                </div>
                <div class="swiper-slide">
                    <div class="tariffs__card tariffs__card-premium">
                        <div class="tariffs__card-header">
                            <h4>Premium</h4>
                            <div class="tariffs__card-header-time">
                                <span>2</span> дня
                            </div>
                        </div>
                        <div class="tariffs__card-content">
                            <div class="tariffs__card-text" id="premiumText">
                                Базовые работы по SEO, необходимые для медленного, но стабильного роста.
                                Минимальное
                                количество часов разработчиков. Подходит для небольших проектов.
                            </div>
                            <ul>
                                <li>втмоатокмтт тмтмтм ватвомталотм аав</li>
                                <li>В районе Алтайского края члены</li>
                                <li>В Благовещенском районе Алтайского</li>
                                <li>В Благовещенском Алтайского края члены</li>
                                <li>В Благовещенском я члены</li>
                                <li>В Благовещенском рай Алтайского края членысауммаа</li>
                                <li>В Благовещенском районе Алтайского края члены</li>
                            </ul>
                        </div>
                        <div class="tariffs__card-price">
                            <strong>10000₽</strong>
                            средняя цена
                        </div>
                    </div>
                    <button class="btn btn_danger w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#callModal"
                    >
                        Хочу тариф
                    </button>
                </div>
                <div class="swiper-slide">
                    <div class="tariffs__card tariffs__card-custom">
                        <div class="tariffs__card-header">
                            <h4>Custom</h4>
                            <div class="tariffs__card-header-time">
                                <span>2</span> дня
                            </div>
                        </div>
                        <div class="tariffs__card-content">
                            <div class="tariffs__card-text" id="customText">
                                Базовые работы по SEO, необходимые для медленного, но стабильного роста.
                                Минимальное
                                количество часов разработчиков. Подходит для небольших проектов.
                            </div>
                            <ul>
                                <li>втмоатокмтт тмтмтм ватвомталотм аав</li>
                                <li>В районе Алтайского края члены</li>
                                <li>В Благовещенском районе Алтайского</li>
                                <li>В Благовещенском Алтайского края члены</li>
                                <li>В Благовещенском я члены</li>
                                <li>В Благовещенском рай Алтайского края членысауммаа</li>
                                <li>В Благовещенском районе Алтайского края члены</li>
                            </ul>
                        </div>
                        <div class="tariffs__card-price">
                            <strong>10000₽</strong>
                            средняя цена
                        </div>
                    </div>
                    <button class="btn btn_secondary w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#callModal"
                    >
                        Хочу тариф
                    </button>
                </div>
            </div>
            <div class="tariffs-slider__navigation">
                <div class="tariffs-slider-prev">
                    <i class="icon-arrow-left"></i>
                </div>
                |
                <div class="tariffs-slider-next">
                    <i class="icon-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
