<section class="team">
    <div class="container">
        <h3 id="teamTitle">Кто будет работать над проектом?</h3>
        <div class="team__content">
            <div class="team__info" id="teamText">
                <p>Под каждый проект собирается своя рабочая группа. Точный ее состав будет зависеть от выбранного тарифа и запланированных работ.</p>
                <p>Здесь мы приводим наиболее вероятный состав для проектов по продвижению. Скорее всего большинство из этих сотрудников будут работать и с вами!</p>
            </div>
            <div class="team__cards">
                <div class="team__card">
                    <img src="/assets/images/manager-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            Менеджер
                        </div>
                        <p id="teamManager">Будет вести ваш проект. На нем основная стратегия и руководство командой.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
                <div class="team__card">
                    <img src="/assets/images/copywriter-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            Копирайтер
                        </div>
                        <p id="teamCopywriter">Выделяется один или несколько, в зависимости от величины проекта. Только штатные авторы.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
                <div class="team__card">
                    <img src="/assets/images/seo-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            SEО-специалист
                        </div>
                        <p id="teamSEOSpecialist">Основные работы по SEO-оптимизации.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
                <div class="team__card">
                    <img src="/assets/images/editor-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            Редактор
                        </div>
                        <p>Управляет работой копирайтеров или анализирует и правит под задачи SEO ваш контент.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
                <div class="team__card">
                    <img src="/assets/images/developer-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            Разработчик
                        </div>
                        <p id="teamDeveloper">Любая работа с кодом в рамках задач SEO, не требующая отдельной IT-команды.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
                <div class="team__card">
                    <img src="/assets/images/designer-avatar.png"
                         alt=""
                    >
                    <div class="team__card-content">
                        <div class="team__card-title">
                            Дизайнер
                        </div>
                        <p id="teamDesigner">Привлекается менеджером проекта при необходимости.
                            От web-дизайна до иллюстраций.</p>
                        <a class="link_primary"
                           href="#"
                        >ссылка на страницу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
