.about-company {
    padding: 60px 0;

    h2 {
        margin-bottom: 50px;
        @include media-breakpoint-down(lg) {
            text-align: right;
        }
        @include media-breakpoint-down(sm) {
            font-size: 32px;
        }
    }

    p {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }

    .btn {
        @include media-breakpoint-down(lg) {
            display: block;
            margin: 0 auto;
        }
    }

    .about-company__content {
        margin-bottom: 80px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
        }

        h3 {
            font-size: 40px;
            line-height: 100%;
            margin-bottom: 40px;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 120%;
                margin-bottom: 20px;
            }
        }
    }

    .certificates__collapse-item {
        padding: 70px 0;
        position: relative;
        @include media-breakpoint-down(lg) {
            padding: 50px 0;
        }

        h3 {
            font-size: 100px;
            margin-bottom: 50px;
            @include media-breakpoint-down(xl) {
                font-size: 60px;
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 25px;
                font-size: 40px;
            }
        }

        &:first-child {
            padding-top: 175px;
            @include media-breakpoint-down(xl) {
                padding-top: 80px;
            }
            @include media-breakpoint-down(lg) {
                padding-top: 50px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: url("/assets/images/dash.jpg") center;
        }

        &:last-child {
            padding-bottom: 0;

            &:after {
                content: none;
            }
        }
    }

    .certificates__gallery {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 60px;

        @include media-breakpoint-down(xl) {
            gap: 20px;
        }
        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, auto);
        }
    }
}
