.cases {
    padding: 60px 0;

    h2 {
        color: $primary;
        margin-bottom: 60px;
    }

    strong {
        font-size: 80px;
        line-height: 100%;
        @include media-breakpoint-down(md) {
            font-size: 40px;
        }
    }

    span {
        font-size: 40px;
        line-height: 100%;
        font-weight: 900;
        @include media-breakpoint-down(md) {
            font-size: 20px;
        }
    }

    .cases-slider {
        border: 2px solid $light;
    }

    .cases__item {
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        display: grid;
        grid-template-areas:
            "title title graphic"
            "task text graphic"
            "task digits digits";
        grid-template-rows: auto auto auto;
        grid-template-columns: 25% 1fr 1fr;
        @include media-breakpoint-down(xl) {
            grid-template-areas:
                "title title title"
                "task text text"
                "task graphic graphic"
                "digits digits digits";
        }
        @include media-breakpoint-down(lg) {
            grid-template-areas:
                "title title title"
                "task task task"
                "text text text"
                "graphic graphic graphic"
                "digits digits digits";
        }
    }

    .cases__item-title, .cases__item-task-text, .cases__item-task-img, .cases__item-graphic,
    .cases__item-text, .digits__card, .digits__card-percent, .cases__item-digits-text {
        padding: 40px;
        @include media-breakpoint-down(md) {
            padding: 20px;
        }
    }

    .cases__item-title {
        grid-area: title;
        font-size: 40px;
        line-height: 100%;
        border-bottom: 1px solid $light;
        @include media-breakpoint-down(md) {
            font-size: 28px;
        }
    }

    .cases__item-task {
        grid-area: task;
        border-right: 1px solid $light;
        @include media-breakpoint-down(lg) {
            display: grid;
            grid-template-columns: auto auto;
            border-right: 0;
            border-bottom: 1px solid $light;
        }
        @include media-breakpoint-down(sm) {
            grid-template-columns: auto;
        }

        strong {
            font-size: initial;
            margin-bottom: 40px;
            display: block;
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }
        }

        .cases__item-task-text {
            background: $primary;
            border-bottom: 1px solid $light;
            @include media-breakpoint-down(lg) {
                border-bottom: 0;
                border-right: 1px solid $light;
            }
            @include media-breakpoint-down(sm) {
                border-right: 0;
                border-bottom: 1px solid $light;
            }
        }

        .cases__item-task-img {
        }
    }

    .cases__item-graphic {
        grid-area: graphic;
        border-left: 1px solid $light;

        img {
            min-width: 650px;
        }

        @include media-breakpoint-down(xl) {
            border-left: 0;
            border-top: 1px solid $light;
            img {
                min-width: 100%;
            }
        }
    }

    .cases__item-text {
        grid-area: text;

        p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .cases__item-digits {
        grid-area: digits;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid $light;
        @include media-breakpoint-down(lg) {
            display: block;
            border-top: 0;
        }

        .cases__item-digits-group {
            border-right: 1px solid $light;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include media-breakpoint-down(lg) {
                display: block;
                border-bottom: 1px solid $light;
                border-right: 0;
            }

            &:last-child {
                border-right: none;
            }
        }

        .hitching {
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(-45deg, transparent, transparent 14px, $light 15px, $light 16px);
            border-bottom: 1px solid $light;
        }

        .digits__card {
            .digits__card-item {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }
            }

            .line {
                width: 100%;
                border-bottom: 3px dashed $light;
                margin-bottom: 40px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }
            }

            &.digits__card-primary {
                background: $primary;
                border-bottom: 1px solid $light;
            }
        }

        .digits__card-percent {
            max-height: 328px;
        }
    }

    .cases-slider__navigation {
        position: absolute;
        bottom: -1px;
        font-size: 44px;
        right: 0;
        z-index: 5;
        display: grid;
        border-left: 1px solid;
        width: 25.05%;
        height: 200px;
        grid-template-columns: 1fr 1fr;
        @include media-breakpoint-down(xl) {
            width: 33.45%;
        }
        @include media-breakpoint-down(lg) {
            width: auto;
            height: auto;
            position: relative;
            bottom: 0;
            right: 0;
            border: 1px solid $light;
        }
    }

    .cases-slider-prev, .cases-slider-next {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $light;
        cursor: pointer;
        transition: color .2s, background .2s;
        @include media-breakpoint-down(lg) {
            border: 0;
            padding: 20px;
            font-size: 28px;
        }

        &:hover {
            background: $light;

            i {
                color: $dark;
            }
        }

        &.swiper-button-disabled {
            cursor: default;
            transition: none;


            &:active {
                transform: none;
            }

            i {
                opacity: .4;
            }

            &:hover {
                background: transparent;

                i {
                    color: $light;
                }
            }
        }
    }

    .cases-slider-prev {
        border-right: 1px solid $light;
        border-left: 1px solid $light;

        @include media-breakpoint-down(lg) {
            border-left: 0;
            width: 100%;
        }
    }

    .cases-slider-next {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}
