.feedback {
    padding-top: 100px;
    @include media-breakpoint-down(lg) {
        padding-top: 50px;
    }
}

.feedback__content {
    padding-bottom: 95px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: url("/assets/images/dash.jpg") center;
    }

    h2 {
        margin-bottom: 75px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 25px;
        }

        span {
            display: block;
            text-align: right;
            @include media-breakpoint-down(lg) {
                text-align: left;
            }
        }
    }
}

.feedback__contacts {
    @include media-breakpoint-down(lg) {
        margin-bottom: 35px;
    }

    .feedback__contacts-text {
        margin-bottom: 20px;
    }

    .feedback__contacts-links {
        display: flex;
        @include media-breakpoint-down(md) {
            font-size: 18px;
            display: block;
        }
    }
}

.feedback__form {
    position: relative;

    &.was-sent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .feedback__form-body {
            opacity: 0;
            z-index: 0;
        }

        .feedback__form-success {
            opacity: 1;
            z-index: 1;
        }
    }

    &.was-validated .form-control:invalid, .form-control.is-invalid {
        border: 2px solid $danger;
        background: none;
    }

    .btn {
        padding-left: 90px;
        padding-right: 90px;
        display: block;
        margin-left: auto;
        margin-right: 0;

        &.form-btn-invalid {
            border: 2px solid $danger;
        }

        @include media-breakpoint-down(md) {
            margin-left: 0;
            margin-right: auto;
            padding-left: 50px;
            padding-right: 50px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}

.feedback__form-body {
    position: relative;
    z-index: 5;
    opacity: 1;
    transition: .2s;

    .form-item {
        position: relative;
        margin-bottom: 40px;
        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
        }

        .form-control {
            position: relative;
            z-index: 10;
            line-height: 100%;
            width: 100%;
            border: 2px solid $primary;
            font-size: 40px;
            color: $light;
            outline: none;
            padding: 1rem;
            background: none;
            transition: border-color .2s;
            min-height: 80px;
            height: 80px;
            border-radius: 0;

            &:focus {
                border-color: $light;
                outline: none;
                box-shadow: none;
            }

            @include media-breakpoint-down(md) {
                font-size: 20px;
                min-height: 55px;
                height: 55px;
            }
        }

        .form-label {
            z-index: 5;
            font-size: 40px;
            line-height: 100%;
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 0.5rem;
            color: $light;
            cursor: text;
            transition: top .2s, left .2s, font-size .2s;
            background-color: $dark;
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }
        }

        .form-control:focus ~ .form-label,
        .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form-label {
            top: 0;
            font-size: 20px;
            left: 0.8rem;
            z-index: 10;
        }
    }

    .feedback__form-btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}


.feedback__form-success {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;
    font-size: 40px;
    line-height: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
}

