.profits {
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include media-breakpoint-down(xl) {
        padding: 0 0 90px;
    }
    @include media-breakpoint-down(lg) {
        padding: 90px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 60px 0;
    }

    .accordion {
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(xl) {
            display: none;
        }

        .accordion-item {
            position: relative;
            display: flex;
            height: 789px;
            transform: skewX(30deg);
            z-index: 1;

            .collapsing {
                .accordion-body {
                    opacity: 0;
                }
            }

            &:first-child {
                .accordion-header {
                    &:after {
                        content: none;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -199%;
                        width: 200%;
                        height: 100%;
                        background: $dark;
                    }
                }

                .profits-item {
                    img {
                        transform: translateX(280px);
                        @media (min-width: 1440px) and (max-width: 1620px){
                            transform: translateX(340px);
                        }
                    }
                }
            }

            &.active {
                z-index: -1;
            }
        }

        .accordion-body {
            transition: .2s;
            width: 1455px;
            max-width: 1455px;
            display: flex;
            padding-right: 0;
            height: 100%;
            transform: skewX(-30deg) translate(-230px, 0);

            .profits-item {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 280px;
                    width: 70%;
                    height: 2px;
                    background: $primary;
                }
            }

            @include media-breakpoint-between(xl, xxl) {
                width: 1160px;
                max-width: 1160px;
                transform: skewX(-30deg) translate(-410px, 0);
            }
        }

        .accordion-header {
            background: $dark;
            opacity: 1;
            z-index: 1;
            transform-origin: left;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 1055px;
                height: 2px;
                transition: width .5s;
                transform: rotate(90deg);
                transform-origin: left;
                background: url(/assets/images/dash.jpg);
            }
        }

        .accordion-button {
            width: 0;
            height: 100%;
            font-size: 40px;
            background: transparent;
            color: $primary;
            border: 0;
            padding: 0;
            display: block;
            position: relative;
            z-index: 2;
            opacity: 0;
            transition: .3s;

            &.collapsed {
                opacity: 1;
                width: 280px;
                @include media-breakpoint-between(xl, xxl) {
                    width: 241px;
                }
            }

            &.top {
                span {
                    margin-bottom: 200px;
                    @include media-breakpoint-between(xl, xxl) {
                        margin-bottom: 300px;
                    }
                }
            }

            &.bottom {
                span {
                    margin-top: 200px;
                    @include media-breakpoint-between(xl, xxl) {
                        margin-top: 300px;
                    }
                }
            }

            span {
                display: block;
                transform: skewX(-30deg) rotate(60deg);
            }
        }
    }

    .profits-item {
        display: flex;
        align-items: center;


        img {
            z-index: -1;
            @include media-breakpoint-between(xl, xxl) {
                transform: translateX(120px);
            }
        }

        h2 {
            margin-bottom: 60px;

            span {
                display: block;
                font-size: 40px;
                line-height: 100%;
            }
        }


        .profits-item__text {
            padding-left: 147px;
            @include media-breakpoint-down(xl) {
                padding-left: 0;
            }

            p {
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .profits-tabs {
        display: block;
        @include media-breakpoint-up(xl) {
            display: none;
        }

        .tab-pane {
            .profits-item {
                gap: 20px;
                display: flex;
                align-items: center;
                min-height: 789px;
                @media (max-width: 1440px) {
                    min-height: 555px;
                    img {
                        width: 600px;
                    }
                }
                @media (max-width: 1120px) {
                    min-height: 420px;
                    align-items: end;
                    img {
                        width: 450px;
                    }
                    h2, p {
                        margin-bottom: 20px;
                    }
                    p:last-child {
                        margin-bottom: 40px;
                    }
                }
                @media (max-width: 900px) {
                    min-height: auto;
                    gap: 0;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    p:last-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .nav-tabs {
            justify-content: center;
            border: none;
            position: relative;
            padding-top: 40px;
            flex-wrap: nowrap;
            @include media-breakpoint-down(sm) {
                padding-top: 20px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: url(/assets/images/dash.jpg);
            }

            button {
                border-width: 1px;
                width: 100%;
                @include media-breakpoint-down(lg) {
                    font-size: 25px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                    padding: 10px;
                }
            }

            .nav-item {
                width: 360px;
                @include media-breakpoint-down(lg) {
                    width: auto;
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }
    }
}
