.seo {
    padding: 90px 0 60px;
    overflow: hidden;

    h2 {
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 40px;
        @include media-breakpoint-down(lg) {
            margin-bottom: 25px;
        }
    }

    @include media-breakpoint-down(lg) {
        padding-top: 40px;
    }

    .seo__content {
        margin-bottom: 80px;
        position: relative;

        img {
            @include media-breakpoint-down(lg) {
                margin-top: 25px;
            }
        }

        .line {
            position: absolute;
            bottom: 0;
            right: -180px;
            width: 100%;
            height: 2px;
            background: $primary;
            @include media-breakpoint-down(xl) {
                right: 0;
            }
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
    }

    .btn {
        @include media-breakpoint-down(lg) {
            display: block;
            margin: 0 auto;
        }
    }

    .seo__collapse-item {
        padding: 70px 0;
        position: relative;
        @include media-breakpoint-down(lg) {
            padding: 50px 0;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: url("/assets/images/dash.jpg") center;
        }

        &:first-child {
            padding-top: 175px;
            @include media-breakpoint-down(xl) {
                padding-top: 80px;
            }
            @include media-breakpoint-down(lg) {
                padding-top: 50px;
            }
        }

        &:last-child {
            padding-bottom: 0;

            &:after {
                content: none;
            }
        }

        h3 {
            font-size: 100px;
            margin-bottom: 50px;
            @include media-breakpoint-down(xl) {
                font-size: 60px;
            }
            @include media-breakpoint-down(lg) {
                font-size: 40px;
                margin-bottom: 25px;
            }
        }

        h4 {
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
                font-size: 32px;
            }
        }

        .seo__collapse-item-primary {
            margin-top: 90px;
            @include media-breakpoint-down(lg) {
                margin-top: 50px;
            }
        }

        p:last-child {
            margin-bottom: 0;
            @include media-breakpoint-down(lg) {
                margin-bottom: 25px;
            }
        }
    }

    .seo__keynote {
        p:first-child {
            font-size: 40px;
            line-height: 100%;
            @include media-breakpoint-down(xl) {
                font-size: 28px;
            }
        }

        p:last-child {
            @include media-breakpoint-down(lg) {
                margin-bottom: 0;
            }
        }
    }
}
