.stages {
    padding: 60px 0;
    @include media-breakpoint-down(md) {
        padding: 30px 0;
    }

    h2 {
        @include media-breakpoint-down(xl) {
            margin-bottom: 30px;
            text-align: right;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 70px;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 32px;
            text-align: left;
        }
    }

    .stages__info {
        margin-left: 60px;
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 90px;

        @include media-breakpoint-down(xl) {
            grid-template-columns: auto;
            margin-bottom: 60px;
        }
        @include media-breakpoint-down(lg) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }

    .stages__item {
        width: 500px;
        display: flex;
        gap: 40px;
        @include media-breakpoint-down(xl) {
            margin-bottom: 32px;
        }
        @include media-breakpoint-down(lg) {
            margin-bottom: 50px;
        }
        @include media-breakpoint-down(md) {
            gap: 20px;
            width: auto;
            margin-bottom: 32px;
        }

        &:nth-child(2n) {
            align-self: flex-end;
            margin-bottom: 90px;

            @include media-breakpoint-down(xl) {
                margin-bottom: 32px;
            }
            @include media-breakpoint-down(lg) {
                margin-bottom: 50px;
            }
            @include media-breakpoint-down(md) {
                margin-bottom: 32px;
            }
        }
    }

    .stages__item-number {
        min-width: 60px;
        width: 65px;
        font-size: 40px;
        line-height: 90%;
        font-weight: 900;
        color: $primary;
        text-align: right;
    }

    .btn {
        display: block;
        margin: 0 0 0 auto;
        @include media-breakpoint-down(xl) {
            margin: 0 auto 0 0;
        }
        @include media-breakpoint-down(lg) {
            margin: 0 auto;
        }
    }

    .stages__collapse-item {
        display: flex;
        gap: 40px;
        margin-bottom: 44px;

        &:first-child {
            padding-top: 60px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md) {
            gap: 20px;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        .stages__item-number {
            @include media-breakpoint-down(sm) {
                align-self: center;
                text-align: center;
            }
        }

        ul {
            list-style: none;
            padding: 0 0 0 100px;
            border-left: 1px solid $primary;
            line-height: 180%;
            @include media-breakpoint-down(xl) {
                padding-left: 35px;
            }
            @include media-breakpoint-down(md) {
                padding-left: 20px;
            }
            @include media-breakpoint-down(sm) {
                padding: 0;
                border: 0;
            }

            li {
                display: flex;

                &:before {
                    content: "•";
                    font-size: 37px;
                    margin-right: 30px;
                    color: $primary;

                    @include media-breakpoint-down(md) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
