.statistic {
    margin-bottom: -340px;
    @include media-breakpoint-between(xl, xxl) {
        margin-bottom: -220px;
    }
    @include media-breakpoint-down(xl) {
        margin-bottom: 0;
    }

    .statistic__content {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 0 290px;
        @include media-breakpoint-between(xl, xxl) {
            justify-content: center;
        }
        @include media-breakpoint-down(xl) {
            display: flex;
            gap: 120px;
            flex-direction: column;
        }
        @include media-breakpoint-down(lg) {
            gap: 0;
        }
    }


    .statistic__text {
        padding-left: 150px;
        width: 550px;
        @include media-breakpoint-between(xl, xxl) {
            padding: 0;
            width: 410px;
            margin-left: 15px;
        }
        @include media-breakpoint-down(xl) {
            width: 690px;
            margin-left: 0;
        }
        @include media-breakpoint-down(lg) {
            width: auto;
            padding: 0;
            margin-bottom: 80px;
        }

        p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .statistic__items {
        transform: translateY(-340px);
        height: 860px;
        display: flex;
        justify-content: flex-end;
        gap: 60px;
        position: relative;
        padding-right: 18px;
        @include media-breakpoint-between(xl, xxl) {
            transform: translateY(-220px);
            gap: 20px;
        }
        @include media-breakpoint-down(xxl) {
            padding-right: 0;
        }
        @include media-breakpoint-down(xl) {
            transform: none;
        }
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            height: auto;
        }
    }

    .statistic__item {
        position: relative;
        width: 215px;
        @include media-breakpoint-down(lg) {
            width: auto;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 20px;
            &:nth-child(2n) {
                grid-template-columns: 1fr auto;

                .statistic__item-header {
                    text-align: right;
                }

                .statistic__item-text {
                    padding-right: 0;
                    padding-left: 100px;
                }
            }
        }
        @include media-breakpoint-down(sm) {
            &:nth-child(2n) {
                .statistic__item-text {
                    padding-left: 50px;
                }
            }
        }

        &:first-child {
            .statistic__item-header:after {
                content: '';
                position: absolute;
                left: 0;
                top: 100%;
                width: 2px;
                height: 240px;
                transform-origin: top;
                transform: rotate(45deg);
                background: $light;
                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }
        }

        .statistic__item-header {
            padding-left: 20px;
            padding-bottom: 20px;
            position: relative;
            @include media-breakpoint-down(lg) {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            strong {
                line-height: 100%;
                font-size: 60px;
                display: block;
            }

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 2px;
                height: 75%;
                background: $light;
                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 100%;
                width: 2px;
                height: 290px;
                transform-origin: top;
                transform: rotate(45deg);
                background: $light;
                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }
        }
    }

    .circle {
        position: absolute;
        width: 104px;
        height: 104px;
        border: 2px solid $light;
        border-radius: 50%;
    }

    .circle-1 {
        top: 32%;
        left: -121%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -237%;
            left: -65%;
            width: 556px;
            height: 2px;
            transform: rotate(60deg);
            background: url(/assets/images/dash.jpg);
            @include media-breakpoint-down(lg) {
                content: none;
            }
        }
    }

    .circle-2 {
        top: 72%;
        left: -26%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }

        &:before {
            content: '';
            position: absolute;
            left: 22%;
            bottom: 93%;
            width: 2px;
            height: 346px;
            transform-origin: bottom;
            transform: rotate(-30deg);
            background: $light;
            @include media-breakpoint-down(lg) {
                content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -65%;
            left: 35%;
            width: 156px;
            height: 2px;
            transform: rotate(60deg);
            background: url(/assets/images/dash.jpg);
            @include media-breakpoint-down(lg) {
                content: none;
            }
        }
    }

    .circle-3 {
        top: 53%;
        left: -70%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }

        &:before {
            content: '';
            position: absolute;
            left: 22%;
            bottom: 93%;
            width: 2px;
            height: 158px;
            transform-origin: bottom;
            transform: rotate(-30deg);
            background: $light;
            @include media-breakpoint-down(lg) {
                content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -143%;
            left: -11%;
            width: 338px;
            height: 2px;
            transform: rotate(60deg);
            background: url(/assets/images/dash.jpg);
            @include media-breakpoint-down(lg) {
                content: none;
            }
        }
    }

    .statistic__item-text {
        font-size: 14px;
        position: absolute;
        width: 260px;
        line-height: 100%;
        @include media-breakpoint-between(xl, xxl) {
            width: 220px;
        }
        @include media-breakpoint-down(lg) {
            grid-column: 1/3;
            width: auto;
            padding-right: 100px;
        }
        @include media-breakpoint-down(sm) {
            padding-right: 50px;
        }

        .shape-left {
            width: 185px;
            height: 320px;
            shape-outside: polygon(0 0, 100% 100%, 0 100%);
            float: left;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    .statistic__item-text-1 {
        left: -80%;
        top: 43%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }
    }

    .statistic__item-text-2 {
        left: 13%;
        top: 83%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }
    }

    .statistic__item-text-3 {
        left: -30%;
        top: 64%;
        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
        }
    }
}
