.tariffs {
    padding: 60px 0;

    h2 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .tariffs-slider {
        .swiper-slide {
            height: initial;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .tariffs__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid $light;
        margin-bottom: 40px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        &.tariffs__card-basic {
            h4 {
                background: transparent;
            }
        }

        &.tariffs__card-premium {
            h4 {
                background: $danger;
            }
        }

        &.tariffs__card-advanced {
            h4 {
                background: $primary;
            }
        }

        &.tariffs__card-custom {
            h4 {
                background: $secondary;
            }
        }

        .tariffs__card-header {
            min-height: 118px;
            border-bottom: 1px solid $light;
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(xxl) {
                min-height: 100px;
            }
            @include media-breakpoint-down(sm) {
                min-height: auto;
            }

            h4 {
                flex: 2;
                padding: 20px 40px;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include media-breakpoint-down(xxl) {
                    font-size: 28px;
                    padding: 20px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 15px;
                }
            }

            .tariffs__card-header-time {
                text-align: center;
                border-left: 1px solid $light;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                min-width: 118px;
                @include media-breakpoint-down(xxl) {
                    min-width: 100px;
                }
                @include media-breakpoint-down(sm) {
                    padding: 15px;
                }

                span {
                    display: block;
                    font-size: 40px;
                    line-height: 100%;
                    @include media-breakpoint-down(sm) {
                        font-size: 28px;
                    }
                }
            }
        }

        .tariffs__card-content {
            padding: 40px;
            @include media-breakpoint-down(xxl) {
                padding: 20px;
            }
            @include media-breakpoint-down(sm) {
                padding: 15px;
            }

            .tariffs__card-text {
                padding-bottom: 40px;
                border-bottom: 1px solid $light;
                margin-bottom: 40px;
                min-height: 200px;
                @include media-breakpoint-down(xxl) {
                    padding-bottom: 25px;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(xl) {
                    min-height: auto;
                }
                @include media-breakpoint-down(sm) {
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
            }

            ul {
                margin-bottom: 0;
                @include media-breakpoint-down(sm) {
                    padding-left: 16px;
                }
            }
        }

        .tariffs__card-price {
            margin-top: auto;
            border-top: 1px solid $light;
            padding: 40px;
            @include media-breakpoint-down(xxl) {
                padding: 20px;
            }

            strong {
                font-size: 60px;
                display: block;
                line-height: 100%;
                @include media-breakpoint-down(xxl) {
                    font-size: 40px;
                }
            }
        }
    }

    .tariffs-slider__navigation {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        @include media-breakpoint-up(xl) {
            display: none;
            margin-top: 20px;
        }
    }

    .tariffs-slider-next, .tariffs-slider-prev {
        cursor: pointer;
        transition: transform .1s;

        &:active {
            transform: scale(.8);
        }

        &.swiper-button-disabled {
            opacity: .4;
            cursor: default;
            transition: none;

            &:active {
                transform: none;
            }
        }
    }

    .tariffs-slider-next {
        margin-left: 20px;
    }

    .tariffs-slider-prev {
        margin-right: 20px;
    }
}
