.team {
    padding: 95px 0;
    @include media-breakpoint-down(md) {
        padding-top: 95px;
    }

    h3 {
        margin-bottom: 95px;
        @include media-breakpoint-down(xl) {
            margin-bottom: 35px;
        }
    }

    .team__content {
        display: grid;
        grid-template-columns: 22% 78%;
        @include media-breakpoint-down(xl) {
            grid-template-columns: auto;
        }


        .team__info {
            width: 296px;
            margin-right: 20px;

            p {
                margin-bottom: 100px;
            }

            @include media-breakpoint-down(xxl) {
                width: auto;
                margin-right: 30px;
            }
            @include media-breakpoint-down(xl) {
                margin-right: 0;
                margin-bottom: 22px;
                width: 70%;
                p {
                    margin-bottom: 22px;
                }
            }
            @include media-breakpoint-down(lg) {
                width: auto;
            }
        }

        .team__cards {
            display: grid;
            grid-gap: 30px 60px;
            grid-template-columns: 635px 635px;
            @include media-breakpoint-down(xxl) {
                grid-template-columns: auto auto;
                grid-gap: 30px;
            }
            @include media-breakpoint-down(lg) {
                grid-template-columns: auto;
            }

            .team__card {
                display: flex;
                border: 2px solid $light;
                @media (max-width: 435px) {
                    display: grid;
                    grid-template-columns: 37% 63%;
                }


                img {
                    @include media-breakpoint-down(md) {
                        height: 180px;
                    }
                    @include media-breakpoint-down(sm) {
                        height: auto;
                    }
                }

                .team__card-content {
                    padding: 30px;
                    border-left: 2px solid $light;
                    @include media-breakpoint-down(xxl) {
                        padding: 20px;
                    }
                    @include media-breakpoint-down(md) {
                        padding: 15px;
                    }
                    @media (max-width: 375px) {
                        padding: 10px;
                    }

                    .team__card-title {
                        font-size: 40px;
                        font-weight: 400;
                        line-height: 80%;
                        margin-bottom: 20px;
                        @include media-breakpoint-down(xxl) {
                            font-size: 28px;
                        }
                        @include media-breakpoint-down(lg) {
                            font-size: 40px;
                        }
                        @include media-breakpoint-down(md) {
                            font-size: 28px;
                            margin-bottom: 15px;
                        }
                        @media (max-width: 435px) {
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                    }

                    p {
                        margin-bottom: 15px;
                        @media (max-width: 435px) {
                            font-size: 12px;
                            line-height: 100%;
                            margin-bottom: 0;
                        }
                    }

                    a {
                        @media (max-width: 435px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
