<div class="modal fade" id="callModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content">
            <button type="button"
                    style="position: absolute; top: 30px; right: 30px;z-index: 10;"
                    class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="feedback__content">
                <div class="row">
                    <div class="col-lg-5 d-flex flex-column justify-content-between">
                        <h2 id="feedbackTitleModal">Ответим <span>на все</span> вопросы</h2>
                        <div class="feedback__contacts">
                            <div class="feedback__contacts-text" id="feedbackTextModal">
                                Вы всегда можете связаться с нами по телефону или почте,
                                мы ответим вам с 10 до 20 в будние дни.
                            </div>
                            <div class="feedback__contacts-links">
                                <div class="me-md-3 mb-3 mb-md-0">
                                    <a class="link link_dark" href="tel:+79995642312"><strong>+7 999 564 23 12</strong></a>
                                </div>
                                <a class="link link_dark" href="mailto:hdhdtyegd@gmail.com">hdhdtyegd@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form data-goal="feedback" class="feedback__form needs-validation" action="/feedback.php"
                              novalidate>
                            <div class="feedback__form-body">
                                <div class="form-item">
                                    <input type="text"
                                           class="form-control"
                                           id="name"
                                           name="name"
                                           placeholder=" "
                                           required>
                                    <label for="name" class="form-label" id="formNameLabelTextModal">Имя</label>
                                </div>
                                <div class="form-item">
                                    <input type="text"
                                           class="form-control"
                                           id="phone"
                                           name="phone"
                                           placeholder=" "
                                           required>
                                    <label for="phone" class="form-label" id="formPhoneLabelTextModal">Номер
                                        телефона</label>
                                </div>
                                <div class="form-item">
                                    <input type="text"
                                           class="form-control"
                                           id="question"
                                           name="question"
                                           placeholder=" "
                                           required>
                                    <label for="question" class="form-label"
                                           id="formQuestionLabelTextModal">Вопрос</label>
                                </div>
                                <div class="feedback__form-btn-wrap">
                                    <div class="feedback__form-error"></div>
                                    <button class="btn btn_inverse"
                                            type="submit"
                                            id="formButtonTextModal"
                                    >
                                        Отправить
                                    </button>
                                </div>
                            </div>
                            <div class="feedback__form-success">
                                <div id="formSuccessTextModal">
                                    Спасибо!<br>
                                    Ваша форма отправлена!<br>
                                    Мы свяжемся с вами в рабочее время.
                                </div>
                                <button class="btn btn_inverse" id="formSuccessButtonTextModal">
                                    Отправить ещё
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
