<footer class="footer">
    <div class="container">
        <h2 class="title_primary" id="footerTitle">
            Начнем?
        </h2>
        <div class="footer__logo">
            <a href="#">
                <img src="/assets/images/logo.svg"
                     alt=""
                >
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-xxl-8">
                <ul class="footer__menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Услуга</a></li>
                    <li><a href="#">Когда нужно</a></li>
                    <li><a href="#">Кейсы</a></li>
                    <li><a href="#">Прайс</a></li>
                </ul>
                <div class="footer__contacts">
                    <div class="me-md-3 mb-3 mb-md-0">
                        <a href="tel:+79995642312"><strong>+7 999 564 23 12</strong></a>
                    </div>
                    <a href="mailto:hdhdtyegd@gmail.com">hdhdtyegd@gmail.com</a>
                </div>
                <ul class="footer__socials">
                    <li><a class="link_light" href="#"><i class="icon-vk"></i></a></li>
                    <li><a class="link_light" href="#"><i class="icon-instagram"></i></a></li>
                    <li><a class="link_light" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="link_light" href="#"><i class="icon-telegram"></i></a></li>
                    <li><a class="link_light" href="#"><i class="icon-whatsapp"></i></a></li>
                </ul>
                <div id="footerText">
                    Более 120 из 500 членов отделения «Единой России» в Алтайском крае подали заявления о выходе
                    из
                    партии,
                    подтвердил «Коммерсанту» глава отделения Андрей Алексеев.
                </div>
            </div>
        </div>
    </div>
</footer>
