<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/assets/css/vendor.css">
    <link type="text/css" rel="stylesheet" href="/assets/css/app.css">
    <title>@@title</title>
    <script src="/assets/js/variables.js"></script>
</head>
