<header class="header" id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-mobile">
                <a class="navbar-brand"
                   href="#"
                ><img src="/assets/images/logo.svg"
                      alt=""
                ></a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span></span>
                </button>
            </div>
            <div class="navbar__burger"
                 role="button"
            >
                <span></span>
            </div>
            <div id="navbarSupportedContent"
                 class="collapse navbar-collapse"
            >
                <div class="me-lg-3">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                            >камаз</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                            >топаз</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                            >магаз</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                            >о вас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#"
                            >о нас</a>
                        </li>
                    </ul>
                </div>
                <div class="ms-auto navbar-contacts">
                    <div class="me-xl-5 py-1 py-lg-0">
                        <a href="tel:+79995642312"><strong>+7 999 564 23 12</strong></a>
                    </div>
                    <div class="py-1 py-lg-0">
                        <a href="mailto:hdhdtyegd@gmail.com">hdhdtyegd@gmail.com</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row text-center text-lg-start">
            <div class="col-lg-8 col-xxl-7">
                <h1 id="headerTitle">
                    Комплексное
                    SEO продвижение
                </h1>
                <div class="col-xxl-7" id="headerDescription">
                    Получите от 80% целевой аудитории на ваши ресурсы. Персональный агент и штатная команда по
                    докризисным тарифам. Всем, заключившим договор до 1 мая 2022 г фиксируем цены на год.
                </div>
                <div class="header__group">
                    <button type="button"
                            class="btn btn_usual"
                            data-bs-toggle="modal"
                            data-bs-target="#callModal"
                            id="headerButton"
                    >
                        Оставить заявку
                    </button>
                    <ul>
                        <li><a class="link_light" href="#"><i class="icon-whatsapp"></i></a></li>
                        <li><a class="link_light" href="#"><i class="icon-vk"></i></a></li>
                        <li><a class="link_light" href="#"><i class="icon-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 d-none d-xl-block">
                <img src="/assets/images/header-img.png"
                     class="header__content-img"
                     alt=""
                >
            </div>
        </div>
        <div class="statistic">
            <div class="statistic__content">
                <div class="statistic__text" id="statisticTextMain">
                    <p>
                        Каждая третья SEO-компания на рынке увеличивает посещаемость вашего сайта, не
                        задумываясь о
                        конвертируемости в реальных покупателей.
                    </p>
                    <p>
                        Да, из 1000 посетителей, 100 могут действительно оказаться целевыми. Но зачем
                        довольствоваться
                        этим, если можно добиться 800 и выше?
                    </p>
                </div>
                <div class="statistic__items">
                    <div class="statistic__item">
                        <div class="circle circle-1"></div>
                        <div class="statistic__item-header">
                            <strong>2</strong>
                            месяца до первых результатов
                        </div>
                        <div class="statistic__item-text statistic__item-text-1">
                            <div class="shape-left"></div>
                            <div id="statisticText1">
                                В отличие от контекстной рекламы
                                SEO не так быстро показывает
                                результаты. Зато и держатся
                                они куда дольше: даже если вы
                                полностью останавливаете все
                                работы над проектом,
                                эффект сохраняется от
                                1 месяца до полугода
                            </div>
                        </div>
                    </div>
                    <div class="statistic__item">
                        <div class="statistic__item-header">
                            <strong>6</strong>
                            месяцев до окупаемости
                        </div>
                        <div class="circle circle-2"></div>
                        <div class="statistic__item-text statistic__item-text-2">
                            <div class="shape-left"></div>
                            <div id="statisticText2">
                                В среднем, не более полугода
                                требуется для того, чтобы SEO
                                начало окупать затраты на
                                продвижение. При этом всегда
                                есть возможность работать
                                с бюджетом, меняя приоритеты
                            </div>
                        </div>
                    </div>
                    <div class="statistic__item">
                        <div class="circle circle-3"></div>
                        <div class="statistic__item-header">
                            <strong>80%</strong>
                            целевых посетителей
                        </div>
                        <div class="statistic__item-text statistic__item-text-3">
                            <div class="shape-left"></div>
                            <div id="statisticText3">
                                Нет никакого смысла в большом
                                количестве посетителей, если они
                                не целевые и не готовы совершить
                                покупку. Мы делаем все, чтобы
                                приводить к вам покупателей, а
                                не зрителей
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
