@charset "UTF-8";
body {
  width: 100%;
  margin: 0;
  background: #2C2830;
  background-size: cover;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* Track */
  /* Handle */
  --media: xl;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #72578A;
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
@media (max-width: 1439.98px) {
  body {
    --media: lg;
  }
}
@media (max-width: 1199.98px) {
  body {
    --media: md;
  }
}
@media (max-width: 767.98px) {
  body {
    --media: sm;
  }
}
@media (max-width: 575.98px) {
  body {
    --media: xs;
  }
}

html,
body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

@media (min-width: 1200px) and (max-width: 1849.98px) {
  .container {
    max-width: 98%;
  }
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 300;
  src: local("Gotham Pro"), url("/assets/fonts/GothamPro-Light.eot") format("embedded-opentype"), url("/assets/fonts/GothamPro-Light.otf") format("opentype"), url("/assets/fonts/GothamPro-Light.ttf") format("truetype"), url("/assets/fonts/GothamPro-Light.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: local("Gotham Pro"), url("/assets/fonts/GothamPro-Regular.eot") format("embedded-opentype"), url("/assets/fonts/GothamPro-Regular.otf") format("opentype"), url("/assets/fonts/GothamPro-Regular.ttf") format("truetype"), url("/assets/fonts/GothamPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  src: local("Gotham Pro"), url("/assets/fonts/GothamPro-Medium.eot") format("embedded-opentype"), url("/assets/fonts/GothamPro-Medium.otf") format("opentype"), url("/assets/fonts/GothamPro-Medium.ttf") format("truetype"), url("/assets/fonts/GothamPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: local("Gotham Pro"), url("/assets/fonts/GothamPro-Bold.eot") format("embedded-opentype"), url("/assets/fonts/GothamPro-Bold.otf") format("opentype"), url("/assets/fonts/GothamPro-Bold.ttf") format("truetype"), url("/assets/fonts/GothamPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 800;
  src: local("Gotham Pro"), url("/assets/fonts/GothamPro-Black.eot") format("embedded-opentype"), url("/assets/fonts/GothamPro-Black.otf") format("opentype"), url("/assets/fonts/GothamPro-Black.ttf") format("truetype"), url("/assets/fonts/GothamPro-Black.woff") format("woff");
}
body {
  font: 100 20px/110% "Gotham Pro", sans-serif;
}
@media (max-width: 767.98px) {
  body {
    font: 100 16px/120% "Gotham Pro", sans-serif;
  }
}
body .title_primary {
  color: #72578A;
}
body .h1, body h1 {
  font: 900 100px/95% "Gotham Pro", sans-serif;
  margin-bottom: 2rem;
}
@media (max-width: 1439.98px) {
  body .h1, body h1 {
    font: 900 60px/95% "Gotham Pro", sans-serif;
  }
}
@media (max-width: 767.98px) {
  body .h1, body h1 {
    font: 900 40px/95% "Gotham Pro", sans-serif;
    margin-bottom: 1rem;
  }
}
body .h1_super {
  font-size: 46px;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  body .h1_super {
    font: 900 40px/95% "Gotham Pro", sans-serif;
  }
}
body .h2, body h2 {
  font: 900 100px/95% "Gotham Pro", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 1439.98px) {
  body .h2, body h2 {
    font: 900 60px/95% "Gotham Pro", sans-serif;
  }
}
@media (max-width: 767.98px) {
  body .h2, body h2 {
    font: 900 40px/95% "Gotham Pro", sans-serif;
  }
}
body .h3, body h3 {
  font: 900 60px/95% "Gotham Pro", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  body .h3, body h3 {
    font: 900 38px/95% "Gotham Pro", sans-serif;
  }
}
body .h4, body h4 {
  font: 900 40px/95% "Gotham Pro", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  body .h4, body h4 {
    font: 900 24px/95% "Gotham Pro", sans-serif;
  }
}
body .h5, body h5 {
  font: 400 18px/125% "Gotham Pro", sans-serif;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  body .h5, body h5 {
    font: 400 18px/125% "Gotham Pro", sans-serif;
  }
}
body a {
  color: white;
  text-decoration: none;
}
body a:hover {
  color: #b3b3b3;
}
body p a, body .list-styled a {
  border-bottom: 1px dashed orange;
}
body p a:hover, body .list-styled a:hover {
  text-decoration: none;
}
body [role=button] {
  cursor: pointer;
}
body small, body .small {
  line-height: 1.1;
  font: 400 14px/18px "Gotham Pro", sans-serif;
}
body .font-weight-medium {
  font-weight: 500;
}
body p {
  margin-bottom: 0;
}
body p + body p {
  margin-top: 15px;
}
body strong {
  font-weight: 600;
}
body .text-muted {
  opacity: 0.6;
  color: inherit !important;
}
body [class^=icon-], body [class*=" icon-"] {
  color: white;
}

.btn {
  font: "Gotham Pro", sans-serif;
  font-size: 40px;
  padding: 16px 32px;
  color: white;
  font-style: normal;
  font-weight: 300;
  line-height: 95%;
  position: relative;
  border: 2px solid white;
  border-radius: 0;
  cursor: pointer;
}
.btn:active:focus {
  box-shadow: none;
}
.btn:focus {
  box-shadow: none;
}
.btn[disabled] {
  opacity: 0.3;
  pointer-events: none;
  color: white;
}
.btn.btn_usual {
  z-index: 1;
}
.btn.btn_usual:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s;
  background: white;
  z-index: -1;
}
.btn.btn_usual:hover {
  color: #2C2830;
}
.btn.btn_usual:hover:before {
  width: 100%;
  left: 0;
  right: auto;
  background: white;
}
.btn.btn_inverse {
  z-index: 1;
  color: #2C2830;
  border: 2px solid #2C2830;
}
.btn.btn_inverse:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 0.3s;
  background: #2C2830;
  z-index: -1;
}
.btn.btn_inverse:hover {
  color: white;
}
.btn.btn_inverse:hover:before {
  width: 100%;
  left: 0;
  right: auto;
  background: #2C2830;
}
.btn.btn_primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #72578A;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  z-index: -1;
}
.btn.btn_primary:hover {
  color: white;
}
.btn.btn_primary:hover:before {
  height: 100%;
  bottom: 0;
  top: auto;
  background: #72578A;
}
.btn.btn_light:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  z-index: -1;
}
.btn.btn_light:hover, .btn.btn_light.active {
  color: #2C2830;
}
.btn.btn_light:hover:before, .btn.btn_light.active:before {
  height: 100%;
  bottom: 0;
  top: auto;
  background: white;
}
.btn.btn_danger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #8F4B4B;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  z-index: -1;
}
.btn.btn_danger:hover {
  color: white;
}
.btn.btn_danger:hover:before {
  height: 100%;
  bottom: 0;
  top: auto;
  background: #8F4B4B;
}
.btn.btn_secondary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #C37943;
  width: 100%;
  height: 0;
  transition: height 0.3s;
  z-index: -1;
}
.btn.btn_secondary:hover {
  color: white;
}
.btn.btn_secondary:hover:before {
  height: 100%;
  bottom: 0;
  top: auto;
  background: #C37943;
}
@media (max-width: 1439.98px) {
  .btn {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .btn {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .btn {
    padding: 15px;
  }
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}

.link_light {
  color: white;
}
.link_light:hover {
  color: #cccccc;
}
.link_light:hover i {
  color: #b3b3b3;
}

.link_dark {
  color: #2C2830;
}
.link_dark:hover {
  color: #72578A;
}

.link_gray {
  color: #a4bab1;
}
.link_gray:hover {
  color: #72578A;
}

.link_primary {
  color: #72578A;
}
.link_primary:hover {
  color: #58436b;
}

.feedback {
  padding-top: 100px;
}
@media (max-width: 1199.98px) {
  .feedback {
    padding-top: 50px;
  }
}

.feedback__content {
  padding-bottom: 95px;
  position: relative;
}
.feedback__content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("/assets/images/dash.jpg") center;
}
.feedback__content h2 {
  margin-bottom: 75px;
}
@media (max-width: 1199.98px) {
  .feedback__content h2 {
    margin-bottom: 25px;
  }
}
.feedback__content h2 span {
  display: block;
  text-align: right;
}
@media (max-width: 1199.98px) {
  .feedback__content h2 span {
    text-align: left;
  }
}

@media (max-width: 1199.98px) {
  .feedback__contacts {
    margin-bottom: 35px;
  }
}
.feedback__contacts .feedback__contacts-text {
  margin-bottom: 20px;
}
.feedback__contacts .feedback__contacts-links {
  display: flex;
}
@media (max-width: 767.98px) {
  .feedback__contacts .feedback__contacts-links {
    font-size: 18px;
    display: block;
  }
}

.feedback__form {
  position: relative;
}
.feedback__form.was-sent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.feedback__form.was-sent .feedback__form-body {
  opacity: 0;
  z-index: 0;
}
.feedback__form.was-sent .feedback__form-success {
  opacity: 1;
  z-index: 1;
}
.feedback__form.was-validated .form-control:invalid, .feedback__form .form-control.is-invalid {
  border: 2px solid #8F4B4B;
  background: none;
}
.feedback__form .btn {
  padding-left: 90px;
  padding-right: 90px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.feedback__form .btn.form-btn-invalid {
  border: 2px solid #8F4B4B;
}
@media (max-width: 767.98px) {
  .feedback__form .btn {
    margin-left: 0;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 575.98px) {
  .feedback__form .btn {
    width: 100%;
  }
}

.feedback__form-body {
  position: relative;
  z-index: 5;
  opacity: 1;
  transition: 0.2s;
}
.feedback__form-body .form-item {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .feedback__form-body .form-item {
    margin-bottom: 25px;
  }
}
.feedback__form-body .form-item .form-control {
  position: relative;
  z-index: 10;
  line-height: 100%;
  width: 100%;
  border: 2px solid #72578A;
  font-size: 40px;
  color: white;
  outline: none;
  padding: 1rem;
  background: none;
  transition: border-color 0.2s;
  min-height: 80px;
  height: 80px;
  border-radius: 0;
}
.feedback__form-body .form-item .form-control:focus {
  border-color: white;
  outline: none;
  box-shadow: none;
}
@media (max-width: 767.98px) {
  .feedback__form-body .form-item .form-control {
    font-size: 20px;
    min-height: 55px;
    height: 55px;
  }
}
.feedback__form-body .form-item .form-label {
  z-index: 5;
  font-size: 40px;
  line-height: 100%;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
  background-color: #2C2830;
}
@media (max-width: 767.98px) {
  .feedback__form-body .form-item .form-label {
    font-size: 20px;
  }
}
.feedback__form-body .form-item .form-control:not(:-moz-placeholder-shown).form-control:not(:focus) ~ .form-label {
  top: 0;
  font-size: 20px;
  left: 0.8rem;
  z-index: 10;
}
.feedback__form-body .form-item .form-control:not(:-ms-input-placeholder).form-control:not(:focus) ~ .form-label {
  top: 0;
  font-size: 20px;
  left: 0.8rem;
  z-index: 10;
}
.feedback__form-body .form-item .form-control:focus ~ .form-label,
.feedback__form-body .form-item .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .form-label {
  top: 0;
  font-size: 20px;
  left: 0.8rem;
  z-index: 10;
}
.feedback__form-body .feedback__form-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .feedback__form-body .feedback__form-btn-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

.feedback__form-success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  font-size: 40px;
  line-height: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .feedback__form-success {
    font-size: 20px;
  }
}

.statistic {
  margin-bottom: -340px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .statistic {
    margin-bottom: -220px;
  }
}
@media (max-width: 1439.98px) {
  .statistic {
    margin-bottom: 0;
  }
}
.statistic .statistic__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 0 290px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .statistic .statistic__content {
    justify-content: center;
  }
}
@media (max-width: 1439.98px) {
  .statistic .statistic__content {
    display: flex;
    gap: 120px;
    flex-direction: column;
  }
}
@media (max-width: 1199.98px) {
  .statistic .statistic__content {
    gap: 0;
  }
}
.statistic .statistic__text {
  padding-left: 150px;
  width: 550px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .statistic .statistic__text {
    padding: 0;
    width: 410px;
    margin-left: 15px;
  }
}
@media (max-width: 1439.98px) {
  .statistic .statistic__text {
    width: 690px;
    margin-left: 0;
  }
}
@media (max-width: 1199.98px) {
  .statistic .statistic__text {
    width: auto;
    padding: 0;
    margin-bottom: 80px;
  }
}
.statistic .statistic__text p {
  margin-bottom: 40px;
}
.statistic .statistic__text p:last-child {
  margin-bottom: 0;
}
.statistic .statistic__items {
  transform: translateY(-340px);
  height: 860px;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  position: relative;
  padding-right: 18px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .statistic .statistic__items {
    transform: translateY(-220px);
    gap: 20px;
  }
}
@media (max-width: 1849.98px) {
  .statistic .statistic__items {
    padding-right: 0;
  }
}
@media (max-width: 1439.98px) {
  .statistic .statistic__items {
    transform: none;
  }
}
@media (max-width: 1199.98px) {
  .statistic .statistic__items {
    flex-direction: column;
    height: auto;
  }
}
.statistic .statistic__item {
  position: relative;
  width: 215px;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item {
    width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    gap: 20px;
  }
  .statistic .statistic__item:nth-child(2n) {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }
  .statistic .statistic__item:nth-child(2n) .statistic__item-header {
    text-align: right;
  }
  .statistic .statistic__item:nth-child(2n) .statistic__item-text {
    padding-right: 0;
    padding-left: 100px;
  }
}
@media (max-width: 575.98px) {
  .statistic .statistic__item:nth-child(2n) .statistic__item-text {
    padding-left: 50px;
  }
}
.statistic .statistic__item:first-child .statistic__item-header:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 2px;
  height: 240px;
  transform-origin: top;
  transform: rotate(45deg);
  background: white;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item:first-child .statistic__item-header:after {
    content: none;
  }
}
.statistic .statistic__item .statistic__item-header {
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item .statistic__item-header {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.statistic .statistic__item .statistic__item-header strong {
  line-height: 100%;
  font-size: 60px;
  display: block;
}
.statistic .statistic__item .statistic__item-header:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 75%;
  background: white;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item .statistic__item-header:before {
    content: none;
  }
}
.statistic .statistic__item .statistic__item-header::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 2px;
  height: 290px;
  transform-origin: top;
  transform: rotate(45deg);
  background: white;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item .statistic__item-header::after {
    content: none;
  }
}
.statistic .circle {
  position: absolute;
  width: 104px;
  height: 104px;
  border: 2px solid white;
  border-radius: 50%;
}
.statistic .circle-1 {
  top: 32%;
  left: -121%;
}
@media (max-width: 1199.98px) {
  .statistic .circle-1 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.statistic .circle-1:after {
  content: "";
  position: absolute;
  bottom: -237%;
  left: -65%;
  width: 556px;
  height: 2px;
  transform: rotate(60deg);
  background: url(/assets/images/dash.jpg);
}
@media (max-width: 1199.98px) {
  .statistic .circle-1:after {
    content: none;
  }
}
.statistic .circle-2 {
  top: 72%;
  left: -26%;
}
@media (max-width: 1199.98px) {
  .statistic .circle-2 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.statistic .circle-2:before {
  content: "";
  position: absolute;
  left: 22%;
  bottom: 93%;
  width: 2px;
  height: 346px;
  transform-origin: bottom;
  transform: rotate(-30deg);
  background: white;
}
@media (max-width: 1199.98px) {
  .statistic .circle-2:before {
    content: none;
  }
}
.statistic .circle-2:after {
  content: "";
  position: absolute;
  bottom: -65%;
  left: 35%;
  width: 156px;
  height: 2px;
  transform: rotate(60deg);
  background: url(/assets/images/dash.jpg);
}
@media (max-width: 1199.98px) {
  .statistic .circle-2:after {
    content: none;
  }
}
.statistic .circle-3 {
  top: 53%;
  left: -70%;
}
@media (max-width: 1199.98px) {
  .statistic .circle-3 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.statistic .circle-3:before {
  content: "";
  position: absolute;
  left: 22%;
  bottom: 93%;
  width: 2px;
  height: 158px;
  transform-origin: bottom;
  transform: rotate(-30deg);
  background: white;
}
@media (max-width: 1199.98px) {
  .statistic .circle-3:before {
    content: none;
  }
}
.statistic .circle-3:after {
  content: "";
  position: absolute;
  bottom: -143%;
  left: -11%;
  width: 338px;
  height: 2px;
  transform: rotate(60deg);
  background: url(/assets/images/dash.jpg);
}
@media (max-width: 1199.98px) {
  .statistic .circle-3:after {
    content: none;
  }
}
.statistic .statistic__item-text {
  font-size: 14px;
  position: absolute;
  width: 260px;
  line-height: 100%;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .statistic .statistic__item-text {
    width: 220px;
  }
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: auto;
    padding-right: 100px;
  }
}
@media (max-width: 575.98px) {
  .statistic .statistic__item-text {
    padding-right: 50px;
  }
}
.statistic .statistic__item-text .shape-left {
  width: 185px;
  height: 320px;
  shape-outside: polygon(0 0, 100% 100%, 0 100%);
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 0 100%);
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item-text .shape-left {
    display: none;
  }
}
.statistic .statistic__item-text-1 {
  left: -80%;
  top: 43%;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item-text-1 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.statistic .statistic__item-text-2 {
  left: 13%;
  top: 83%;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item-text-2 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}
.statistic .statistic__item-text-3 {
  left: -30%;
  top: 64%;
}
@media (max-width: 1199.98px) {
  .statistic .statistic__item-text-3 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}

.tariffs {
  padding: 60px 0;
}
.tariffs h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.tariffs .tariffs-slider .swiper-slide {
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tariffs .tariffs__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card {
    margin-bottom: 20px;
  }
}
.tariffs .tariffs__card.tariffs__card-basic h4 {
  background: transparent;
}
.tariffs .tariffs__card.tariffs__card-premium h4 {
  background: #8F4B4B;
}
.tariffs .tariffs__card.tariffs__card-advanced h4 {
  background: #72578A;
}
.tariffs .tariffs__card.tariffs__card-custom h4 {
  background: #C37943;
}
.tariffs .tariffs__card .tariffs__card-header {
  min-height: 118px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-header {
    min-height: 100px;
  }
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-header {
    min-height: auto;
  }
}
.tariffs .tariffs__card .tariffs__card-header h4 {
  flex: 2;
  padding: 20px 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-header h4 {
    font-size: 28px;
    padding: 20px;
  }
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-header h4 {
    padding: 15px;
  }
}
.tariffs .tariffs__card .tariffs__card-header .tariffs__card-header-time {
  text-align: center;
  border-left: 1px solid white;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 118px;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-header .tariffs__card-header-time {
    min-width: 100px;
  }
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-header .tariffs__card-header-time {
    padding: 15px;
  }
}
.tariffs .tariffs__card .tariffs__card-header .tariffs__card-header-time span {
  display: block;
  font-size: 40px;
  line-height: 100%;
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-header .tariffs__card-header-time span {
    font-size: 28px;
  }
}
.tariffs .tariffs__card .tariffs__card-content {
  padding: 40px;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-content {
    padding: 20px;
  }
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-content {
    padding: 15px;
  }
}
.tariffs .tariffs__card .tariffs__card-content .tariffs__card-text {
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  min-height: 200px;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-content .tariffs__card-text {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1439.98px) {
  .tariffs .tariffs__card .tariffs__card-content .tariffs__card-text {
    min-height: auto;
  }
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-content .tariffs__card-text {
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
}
.tariffs .tariffs__card .tariffs__card-content ul {
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .tariffs .tariffs__card .tariffs__card-content ul {
    padding-left: 16px;
  }
}
.tariffs .tariffs__card .tariffs__card-price {
  margin-top: auto;
  border-top: 1px solid white;
  padding: 40px;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-price {
    padding: 20px;
  }
}
.tariffs .tariffs__card .tariffs__card-price strong {
  font-size: 60px;
  display: block;
  line-height: 100%;
}
@media (max-width: 1849.98px) {
  .tariffs .tariffs__card .tariffs__card-price strong {
    font-size: 40px;
  }
}
.tariffs .tariffs-slider__navigation {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .tariffs .tariffs-slider__navigation {
    display: none;
    margin-top: 20px;
  }
}
.tariffs .tariffs-slider-next, .tariffs .tariffs-slider-prev {
  cursor: pointer;
  transition: transform 0.1s;
}
.tariffs .tariffs-slider-next:active, .tariffs .tariffs-slider-prev:active {
  transform: scale(0.8);
}
.tariffs .tariffs-slider-next.swiper-button-disabled, .tariffs .tariffs-slider-prev.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
  transition: none;
}
.tariffs .tariffs-slider-next.swiper-button-disabled:active, .tariffs .tariffs-slider-prev.swiper-button-disabled:active {
  transform: none;
}
.tariffs .tariffs-slider-next {
  margin-left: 20px;
}
.tariffs .tariffs-slider-prev {
  margin-right: 20px;
}

.stages {
  padding: 60px 0;
}
@media (max-width: 767.98px) {
  .stages {
    padding: 30px 0;
  }
}
@media (max-width: 1439.98px) {
  .stages h2 {
    margin-bottom: 30px;
    text-align: right;
  }
}
@media (max-width: 1199.98px) {
  .stages h2 {
    margin-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .stages h2 {
    margin-bottom: 32px;
    text-align: left;
  }
}
.stages .stages__info {
  margin-left: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  margin-bottom: 90px;
}
@media (max-width: 1439.98px) {
  .stages .stages__info {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    margin-bottom: 60px;
  }
}
@media (max-width: 1199.98px) {
  .stages .stages__info {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.stages .stages__item {
  width: 500px;
  display: flex;
  gap: 40px;
}
@media (max-width: 1439.98px) {
  .stages .stages__item {
    margin-bottom: 32px;
  }
}
@media (max-width: 1199.98px) {
  .stages .stages__item {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .stages .stages__item {
    gap: 20px;
    width: auto;
    margin-bottom: 32px;
  }
}
.stages .stages__item:nth-child(2n) {
  align-self: flex-end;
  margin-bottom: 90px;
}
@media (max-width: 1439.98px) {
  .stages .stages__item:nth-child(2n) {
    margin-bottom: 32px;
  }
}
@media (max-width: 1199.98px) {
  .stages .stages__item:nth-child(2n) {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .stages .stages__item:nth-child(2n) {
    margin-bottom: 32px;
  }
}
.stages .stages__item-number {
  min-width: 60px;
  width: 65px;
  font-size: 40px;
  line-height: 90%;
  font-weight: 900;
  color: #72578A;
  text-align: right;
}
.stages .btn {
  display: block;
  margin: 0 0 0 auto;
}
@media (max-width: 1439.98px) {
  .stages .btn {
    margin: 0 auto 0 0;
  }
}
@media (max-width: 1199.98px) {
  .stages .btn {
    margin: 0 auto;
  }
}
.stages .stages__collapse-item {
  display: flex;
  gap: 40px;
  margin-bottom: 44px;
}
.stages .stages__collapse-item:first-child {
  padding-top: 60px;
}
.stages .stages__collapse-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .stages .stages__collapse-item {
    gap: 20px;
  }
}
@media (max-width: 575.98px) {
  .stages .stages__collapse-item {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .stages .stages__collapse-item .stages__item-number {
    -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}
.stages .stages__collapse-item ul {
  list-style: none;
  padding: 0 0 0 100px;
  border-left: 1px solid #72578A;
  line-height: 180%;
}
@media (max-width: 1439.98px) {
  .stages .stages__collapse-item ul {
    padding-left: 35px;
  }
}
@media (max-width: 767.98px) {
  .stages .stages__collapse-item ul {
    padding-left: 20px;
  }
}
@media (max-width: 575.98px) {
  .stages .stages__collapse-item ul {
    padding: 0;
    border: 0;
  }
}
.stages .stages__collapse-item ul li {
  display: flex;
}
.stages .stages__collapse-item ul li:before {
  content: "•";
  font-size: 37px;
  margin-right: 30px;
  color: #72578A;
}
@media (max-width: 767.98px) {
  .stages .stages__collapse-item ul li:before {
    margin-right: 20px;
  }
}

.cases {
  padding: 60px 0;
}
.cases h2 {
  color: #72578A;
  margin-bottom: 60px;
}
.cases strong {
  font-size: 80px;
  line-height: 100%;
}
@media (max-width: 767.98px) {
  .cases strong {
    font-size: 40px;
  }
}
.cases span {
  font-size: 40px;
  line-height: 100%;
  font-weight: 900;
}
@media (max-width: 767.98px) {
  .cases span {
    font-size: 20px;
  }
}
.cases .cases-slider {
  border: 2px solid white;
}
.cases .cases__item {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title graphic" "task text graphic" "task digits digits";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  -ms-grid-columns: 25% 1fr 1fr;
  grid-template-columns: 25% 1fr 1fr;
}
@media (max-width: 1439.98px) {
  .cases .cases__item {
        grid-template-areas: "title title title" "task text text" "task graphic graphic" "digits digits digits";
  }
}
@media (max-width: 1199.98px) {
  .cases .cases__item {
        grid-template-areas: "title title title" "task task task" "text text text" "graphic graphic graphic" "digits digits digits";
  }
}
.cases .cases__item-title, .cases .cases__item-task-text, .cases .cases__item-task-img, .cases .cases__item-graphic,
.cases .cases__item-text, .cases .digits__card, .cases .digits__card-percent, .cases .cases__item-digits-text {
  padding: 40px;
}
@media (max-width: 767.98px) {
  .cases .cases__item-title, .cases .cases__item-task-text, .cases .cases__item-task-img, .cases .cases__item-graphic,
.cases .cases__item-text, .cases .digits__card, .cases .digits__card-percent, .cases .cases__item-digits-text {
    padding: 20px;
  }
}
.cases .cases__item-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  font-size: 40px;
  line-height: 100%;
  border-bottom: 1px solid white;
}
@media (max-width: 767.98px) {
  .cases .cases__item-title {
    font-size: 28px;
  }
}
.cases .cases__item-task {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: task;
  border-right: 1px solid white;
}
@media (max-width: 1199.98px) {
  .cases .cases__item-task {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    border-right: 0;
    border-bottom: 1px solid white;
  }
}
@media (max-width: 575.98px) {
  .cases .cases__item-task {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.cases .cases__item-task strong {
  font-size: initial;
  margin-bottom: 40px;
  display: block;
}
@media (max-width: 767.98px) {
  .cases .cases__item-task strong {
    margin-bottom: 20px;
  }
}
.cases .cases__item-task .cases__item-task-text {
  background: #72578A;
  border-bottom: 1px solid white;
}
@media (max-width: 1199.98px) {
  .cases .cases__item-task .cases__item-task-text {
    border-bottom: 0;
    border-right: 1px solid white;
  }
}
@media (max-width: 575.98px) {
  .cases .cases__item-task .cases__item-task-text {
    border-right: 0;
    border-bottom: 1px solid white;
  }
}
.cases .cases__item-graphic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: graphic;
  border-left: 1px solid white;
}
.cases .cases__item-graphic img {
  min-width: 650px;
}
@media (max-width: 1439.98px) {
  .cases .cases__item-graphic {
    border-left: 0;
    border-top: 1px solid white;
  }
  .cases .cases__item-graphic img {
    min-width: 100%;
  }
}
.cases .cases__item-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
}
.cases .cases__item-text p {
  margin-bottom: 40px;
}
.cases .cases__item-text p:last-child {
  margin-bottom: 0;
}
.cases .cases__item-digits {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: digits;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid white;
}
@media (max-width: 1439.98px){
  .cases .cases__item-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .cases .cases__item-task {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .cases .cases__item-graphic {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .cases .cases__item-text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .cases .cases__item-digits {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 1199.98px){
  .cases .cases__item-title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .cases .cases__item-task {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .cases .cases__item-graphic {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .cases .cases__item-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .cases .cases__item-digits {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (max-width: 1199.98px) {
  .cases .cases__item-digits {
    display: block;
    border-top: 0;
  }
}
.cases .cases__item-digits .cases__item-digits-group {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1199.98px) {
  .cases .cases__item-digits .cases__item-digits-group {
    display: block;
    border-bottom: 1px solid white;
    border-right: 0;
  }
}
.cases .cases__item-digits .cases__item-digits-group:last-child {
  border-right: none;
}
.cases .cases__item-digits .hitching {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(-45deg, transparent, transparent 14px, white 15px, white 16px);
  border-bottom: 1px solid white;
}
.cases .cases__item-digits .digits__card .digits__card-item {
  margin-bottom: 40px;
}
.cases .cases__item-digits .digits__card .digits__card-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .cases .cases__item-digits .digits__card .digits__card-item {
    margin-bottom: 20px;
  }
}
.cases .cases__item-digits .digits__card .line {
  width: 100%;
  border-bottom: 3px dashed white;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .cases .cases__item-digits .digits__card .line {
    margin-bottom: 20px;
  }
}
.cases .cases__item-digits .digits__card.digits__card-primary {
  background: #72578A;
  border-bottom: 1px solid white;
}
.cases .cases__item-digits .digits__card-percent {
  max-height: 328px;
}
.cases .cases-slider__navigation {
  position: absolute;
  bottom: -1px;
  font-size: 44px;
  right: 0;
  z-index: 5;
  display: -ms-grid;
  display: grid;
  border-left: 1px solid;
  width: 25.05%;
  height: 200px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1439.98px) {
  .cases .cases-slider__navigation {
    width: 33.45%;
  }
}
@media (max-width: 1199.98px) {
  .cases .cases-slider__navigation {
    width: auto;
    height: auto;
    position: relative;
    bottom: 0;
    right: 0;
    border: 1px solid white;
  }
}
.cases .cases-slider-prev, .cases .cases-slider-next {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
@media (max-width: 1199.98px) {
  .cases .cases-slider-prev, .cases .cases-slider-next {
    border: 0;
    padding: 20px;
    font-size: 28px;
  }
}
.cases .cases-slider-prev:hover, .cases .cases-slider-next:hover {
  background: white;
}
.cases .cases-slider-prev:hover i, .cases .cases-slider-next:hover i {
  color: #2C2830;
}
.cases .cases-slider-prev.swiper-button-disabled, .cases .cases-slider-next.swiper-button-disabled {
  cursor: default;
  transition: none;
}
.cases .cases-slider-prev.swiper-button-disabled:active, .cases .cases-slider-next.swiper-button-disabled:active {
  transform: none;
}
.cases .cases-slider-prev.swiper-button-disabled i, .cases .cases-slider-next.swiper-button-disabled i {
  opacity: 0.4;
}
.cases .cases-slider-prev.swiper-button-disabled:hover, .cases .cases-slider-next.swiper-button-disabled:hover {
  background: transparent;
}
.cases .cases-slider-prev.swiper-button-disabled:hover i, .cases .cases-slider-next.swiper-button-disabled:hover i {
  color: white;
}
.cases .cases-slider-prev {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
@media (max-width: 1199.98px) {
  .cases .cases-slider-prev {
    border-left: 0;
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .cases .cases-slider-next {
    width: 100%;
  }
}

.about-company {
  padding: 60px 0;
}
.about-company h2 {
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .about-company h2 {
    text-align: right;
  }
}
@media (max-width: 575.98px) {
  .about-company h2 {
    font-size: 32px;
  }
}
.about-company p {
  margin-bottom: 40px;
}
.about-company p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .about-company p {
    margin-bottom: 25px;
  }
  .about-company p:last-child {
    margin-bottom: 25px;
  }
}
@media (max-width: 1199.98px) {
  .about-company .btn {
    display: block;
    margin: 0 auto;
  }
}
.about-company .about-company__content {
  margin-bottom: 80px;
}
@media (max-width: 1199.98px) {
  .about-company .about-company__content {
    margin-bottom: 30px;
  }
}
.about-company .about-company__content h3 {
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 40px;
}
@media (max-width: 575.98px) {
  .about-company .about-company__content h3 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
  }
}
.about-company .certificates__collapse-item {
  padding: 70px 0;
  position: relative;
}
@media (max-width: 1199.98px) {
  .about-company .certificates__collapse-item {
    padding: 50px 0;
  }
}
.about-company .certificates__collapse-item h3 {
  font-size: 100px;
  margin-bottom: 50px;
}
@media (max-width: 1439.98px) {
  .about-company .certificates__collapse-item h3 {
    font-size: 60px;
  }
}
@media (max-width: 1199.98px) {
  .about-company .certificates__collapse-item h3 {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
.about-company .certificates__collapse-item:first-child {
  padding-top: 175px;
}
@media (max-width: 1439.98px) {
  .about-company .certificates__collapse-item:first-child {
    padding-top: 80px;
  }
}
@media (max-width: 1199.98px) {
  .about-company .certificates__collapse-item:first-child {
    padding-top: 50px;
  }
}
.about-company .certificates__collapse-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("/assets/images/dash.jpg") center;
}
.about-company .certificates__collapse-item:last-child {
  padding-bottom: 0;
}
.about-company .certificates__collapse-item:last-child:after {
  content: none;
}
.about-company .certificates__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  gap: 60px;
}
@media (max-width: 1439.98px) {
  .about-company .certificates__gallery {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .about-company .certificates__gallery {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
  }
}

.seo {
  padding: 90px 0 60px;
  overflow: hidden;
}
.seo h2 {
  margin-bottom: 50px;
}
.seo p {
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .seo p {
    margin-bottom: 25px;
  }
}
@media (max-width: 1199.98px) {
  .seo {
    padding-top: 40px;
  }
}
.seo .seo__content {
  margin-bottom: 80px;
  position: relative;
}
@media (max-width: 1199.98px) {
  .seo .seo__content img {
    margin-top: 25px;
  }
}
.seo .seo__content .line {
  position: absolute;
  bottom: 0;
  right: -180px;
  width: 100%;
  height: 2px;
  background: #72578A;
}
@media (max-width: 1439.98px) {
  .seo .seo__content .line {
    right: 0;
  }
}
@media (max-width: 1199.98px) {
  .seo .seo__content .line {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .seo .seo__content {
    margin-bottom: 50px;
  }
}
@media (max-width: 1199.98px) {
  .seo .btn {
    display: block;
    margin: 0 auto;
  }
}
.seo .seo__collapse-item {
  padding: 70px 0;
  position: relative;
}
@media (max-width: 1199.98px) {
  .seo .seo__collapse-item {
    padding: 50px 0;
  }
}
.seo .seo__collapse-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url("/assets/images/dash.jpg") center;
}
.seo .seo__collapse-item:first-child {
  padding-top: 175px;
}
@media (max-width: 1439.98px) {
  .seo .seo__collapse-item:first-child {
    padding-top: 80px;
  }
}
@media (max-width: 1199.98px) {
  .seo .seo__collapse-item:first-child {
    padding-top: 50px;
  }
}
.seo .seo__collapse-item:last-child {
  padding-bottom: 0;
}
.seo .seo__collapse-item:last-child:after {
  content: none;
}
.seo .seo__collapse-item h3 {
  font-size: 100px;
  margin-bottom: 50px;
}
@media (max-width: 1439.98px) {
  .seo .seo__collapse-item h3 {
    font-size: 60px;
  }
}
@media (max-width: 1199.98px) {
  .seo .seo__collapse-item h3 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
.seo .seo__collapse-item h4 {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .seo .seo__collapse-item h4 {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
.seo .seo__collapse-item .seo__collapse-item-primary {
  margin-top: 90px;
}
@media (max-width: 1199.98px) {
  .seo .seo__collapse-item .seo__collapse-item-primary {
    margin-top: 50px;
  }
}
.seo .seo__collapse-item p:last-child {
  margin-bottom: 0;
}
@media (max-width: 1199.98px) {
  .seo .seo__collapse-item p:last-child {
    margin-bottom: 25px;
  }
}
.seo .seo__keynote p:first-child {
  font-size: 40px;
  line-height: 100%;
}
@media (max-width: 1439.98px) {
  .seo .seo__keynote p:first-child {
    font-size: 28px;
  }
}
@media (max-width: 1199.98px) {
  .seo .seo__keynote p:last-child {
    margin-bottom: 0;
  }
}

.team {
  padding: 95px 0;
}
@media (max-width: 767.98px) {
  .team {
    padding-top: 95px;
  }
}
.team h3 {
  margin-bottom: 95px;
}
@media (max-width: 1439.98px) {
  .team h3 {
    margin-bottom: 35px;
  }
}
.team .team__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 78%;
  grid-template-columns: 22% 78%;
}
@media (max-width: 1439.98px) {
  .team .team__content {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.team .team__content .team__info {
  width: 296px;
  margin-right: 20px;
}
.team .team__content .team__info p {
  margin-bottom: 100px;
}
@media (max-width: 1849.98px) {
  .team .team__content .team__info {
    width: auto;
    margin-right: 30px;
  }
}
@media (max-width: 1439.98px) {
  .team .team__content .team__info {
    margin-right: 0;
    margin-bottom: 22px;
    width: 70%;
  }
  .team .team__content .team__info p {
    margin-bottom: 22px;
  }
}
@media (max-width: 1199.98px) {
  .team .team__content .team__info {
    width: auto;
  }
}
.team .team__content .team__cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 60px;
  -ms-grid-columns: 635px 635px;
  grid-template-columns: 635px 635px;
}
@media (max-width: 1849.98px) {
  .team .team__content .team__cards {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
}
@media (max-width: 1199.98px) {
  .team .team__content .team__cards {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.team .team__content .team__cards .team__card {
  display: flex;
  border: 2px solid white;
}
@media (max-width: 435px) {
  .team .team__content .team__cards .team__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 37% 63%;
    grid-template-columns: 37% 63%;
  }
}
@media (max-width: 767.98px) {
  .team .team__content .team__cards .team__card img {
    height: 180px;
  }
}
@media (max-width: 575.98px) {
  .team .team__content .team__cards .team__card img {
    height: auto;
  }
}
.team .team__content .team__cards .team__card .team__card-content {
  padding: 30px;
  border-left: 2px solid white;
}
@media (max-width: 1849.98px) {
  .team .team__content .team__cards .team__card .team__card-content {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .team .team__content .team__cards .team__card .team__card-content {
    padding: 15px;
  }
}
@media (max-width: 375px) {
  .team .team__content .team__cards .team__card .team__card-content {
    padding: 10px;
  }
}
.team .team__content .team__cards .team__card .team__card-content .team__card-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 80%;
  margin-bottom: 20px;
}
@media (max-width: 1849.98px) {
  .team .team__content .team__cards .team__card .team__card-content .team__card-title {
    font-size: 28px;
  }
}
@media (max-width: 1199.98px) {
  .team .team__content .team__cards .team__card .team__card-content .team__card-title {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .team .team__content .team__cards .team__card .team__card-content .team__card-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
@media (max-width: 435px) {
  .team .team__content .team__cards .team__card .team__card-content .team__card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.team .team__content .team__cards .team__card .team__card-content p {
  margin-bottom: 15px;
}
@media (max-width: 435px) {
  .team .team__content .team__cards .team__card .team__card-content p {
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 435px) {
  .team .team__content .team__cards .team__card .team__card-content a {
    font-size: 12px;
  }
}

.profits {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1439.98px) {
  .profits {
    padding: 0 0 90px;
  }
}
@media (max-width: 1199.98px) {
  .profits {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .profits {
    padding: 60px 0;
  }
}
.profits .accordion {
  display: flex;
  justify-content: center;
}
@media (max-width: 1439.98px) {
  .profits .accordion {
    display: none;
  }
}
.profits .accordion .accordion-item {
  position: relative;
  display: flex;
  height: 789px;
  transform: skewX(30deg);
  z-index: 1;
}
.profits .accordion .accordion-item .collapsing .accordion-body {
  opacity: 0;
}
.profits .accordion .accordion-item:first-child .accordion-header:after {
  content: none;
}
.profits .accordion .accordion-item:first-child .accordion-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: -199%;
  width: 200%;
  height: 100%;
  background: #2C2830;
}
.profits .accordion .accordion-item:first-child .profits-item img {
  transform: translateX(280px);
}
@media (min-width: 1440px) and (max-width: 1620px) {
  .profits .accordion .accordion-item:first-child .profits-item img {
    transform: translateX(340px);
  }
}
.profits .accordion .accordion-item.active {
  z-index: -1;
}
.profits .accordion .accordion-body {
  transition: 0.2s;
  width: 1455px;
  max-width: 1455px;
  display: flex;
  padding-right: 0;
  height: 100%;
  transform: skewX(-30deg) translate(-230px, 0);
}
.profits .accordion .accordion-body .profits-item {
  position: relative;
}
.profits .accordion .accordion-body .profits-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 280px;
  width: 70%;
  height: 2px;
  background: #72578A;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .profits .accordion .accordion-body {
    width: 1160px;
    max-width: 1160px;
    transform: skewX(-30deg) translate(-410px, 0);
  }
}
.profits .accordion .accordion-header {
  background: #2C2830;
  opacity: 1;
  z-index: 1;
  transform-origin: left;
  position: relative;
}
.profits .accordion .accordion-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1055px;
  height: 2px;
  transition: width 0.5s;
  transform: rotate(90deg);
  transform-origin: left;
  background: url(/assets/images/dash.jpg);
}
.profits .accordion .accordion-button {
  width: 0;
  height: 100%;
  font-size: 40px;
  background: transparent;
  color: #72578A;
  border: 0;
  padding: 0;
  display: block;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
}
.profits .accordion .accordion-button.collapsed {
  opacity: 1;
  width: 280px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .profits .accordion .accordion-button.collapsed {
    width: 241px;
  }
}
.profits .accordion .accordion-button.top span {
  margin-bottom: 200px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .profits .accordion .accordion-button.top span {
    margin-bottom: 300px;
  }
}
.profits .accordion .accordion-button.bottom span {
  margin-top: 200px;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .profits .accordion .accordion-button.bottom span {
    margin-top: 300px;
  }
}
.profits .accordion .accordion-button span {
  display: block;
  transform: skewX(-30deg) rotate(60deg);
}
.profits .profits-item {
  display: flex;
  align-items: center;
}
.profits .profits-item img {
  z-index: -1;
}
@media (min-width: 1440px) and (max-width: 1849.98px) {
  .profits .profits-item img {
    transform: translateX(120px);
  }
}
.profits .profits-item h2 {
  margin-bottom: 60px;
}
.profits .profits-item h2 span {
  display: block;
  font-size: 40px;
  line-height: 100%;
}
.profits .profits-item .profits-item__text {
  padding-left: 147px;
}
@media (max-width: 1439.98px) {
  .profits .profits-item .profits-item__text {
    padding-left: 0;
  }
}
.profits .profits-item .profits-item__text p {
  margin-bottom: 40px;
}
.profits .profits-item .profits-item__text p:last-child {
  margin-bottom: 0;
}
.profits .profits-tabs {
  display: block;
}
@media (min-width: 1440px) {
  .profits .profits-tabs {
    display: none;
  }
}
.profits .profits-tabs .tab-pane .profits-item {
  gap: 20px;
  display: flex;
  align-items: center;
  min-height: 789px;
}
@media (max-width: 1440px) {
  .profits .profits-tabs .tab-pane .profits-item {
    min-height: 555px;
  }
  .profits .profits-tabs .tab-pane .profits-item img {
    width: 600px;
  }
}
@media (max-width: 1120px) {
  .profits .profits-tabs .tab-pane .profits-item {
    min-height: 420px;
    align-items: end;
  }
  .profits .profits-tabs .tab-pane .profits-item img {
    width: 450px;
  }
  .profits .profits-tabs .tab-pane .profits-item h2, .profits .profits-tabs .tab-pane .profits-item p {
    margin-bottom: 20px;
  }
  .profits .profits-tabs .tab-pane .profits-item p:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .profits .profits-tabs .tab-pane .profits-item {
    min-height: auto;
    gap: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .profits .profits-tabs .tab-pane .profits-item p:last-child {
    margin-bottom: 20px;
  }
}
.profits .profits-tabs .nav-tabs {
  justify-content: center;
  border: none;
  position: relative;
  padding-top: 40px;
  flex-wrap: nowrap;
}
@media (max-width: 575.98px) {
  .profits .profits-tabs .nav-tabs {
    padding-top: 20px;
  }
}
.profits .profits-tabs .nav-tabs:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url(/assets/images/dash.jpg);
}
.profits .profits-tabs .nav-tabs button {
  border-width: 1px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .profits .profits-tabs .nav-tabs button {
    font-size: 25px;
  }
}
@media (max-width: 575.98px) {
  .profits .profits-tabs .nav-tabs button {
    font-size: 16px;
    padding: 10px;
  }
}
.profits .profits-tabs .nav-tabs .nav-item {
  width: 360px;
}
@media (max-width: 1199.98px) {
  .profits .profits-tabs .nav-tabs .nav-item {
    width: auto;
  }
}
@media (max-width: 575.98px) {
  .profits .profits-tabs .nav-tabs .nav-item {
    width: 100%;
  }
}

.header {
  margin: 0 auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .header {
    padding-bottom: 60px;
  }
}
.header.header_no-images {
  background: none !important;
}
.header.header_no-images .header__content-img {
  display: none !important;
}
.header .navbar {
  padding-top: 50px;
  margin-bottom: 90px;
}
@media (max-width: 1199.98px) {
  .header .navbar {
    padding-top: 40px;
    margin-bottom: 75px;
  }
}
.header .navbar .navbar-brand {
  margin-right: 80px;
}
@media (max-width: 1439.98px) {
  .header .navbar .navbar-brand {
    margin: 25px;
  }
}
@media (max-width: 1199.98px) {
  .header .navbar .navbar-brand {
    margin: 0 auto;
  }
}
@media (max-width: 1199.98px) {
  .header .navbar .navbar-mobile {
    position: relative;
    width: 100%;
    display: flex;
  }
}
.header .navbar .navbar-contacts {
  display: flex;
}
@media (max-width: 1439.98px) {
  .header .navbar .navbar-contacts {
    flex-direction: column;
    text-align: right;
  }
}
@media (max-width: 1199.98px) {
  .header .navbar .navbar-contacts {
    display: block;
    text-align: center;
  }
}
.header .navbar .nav-item {
  margin-right: 50px;
}
@media (max-width: 1439.98px) {
  .header .navbar .nav-item {
    margin-right: 15px;
  }
}
@media (max-width: 1199.98px) {
  .header .navbar .nav-item {
    margin-right: 0;
  }
}
.header .navbar .nav-item:last-child {
  margin-right: 0;
}
.header .navbar .nav-link {
  color: white;
}
.header .navbar .nav-link:hover {
  color: #999999;
}
@media (max-width: 1199.98px) {
  .header .navbar .navbar-collapse {
    text-align: center;
  }
}
.header .navbar-toggler {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid white;
  border-radius: 0;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
}
@media (min-width: 1200px) {
  .header .navbar-toggler {
    display: none;
  }
}
.header .navbar-toggler:focus {
  box-shadow: none;
}
.header .navbar-toggler span {
  background: white;
  position: relative;
  height: 2px;
  border-radius: 1px;
  width: 18px;
  display: inline-block;
  transition: 0.2s;
}
.header .navbar-toggler span:before, .header .navbar-toggler span:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
  transition: 0.2s;
}
.header .navbar-toggler span:before {
  top: -6px;
}
.header .navbar-toggler span:after {
  bottom: -6px;
  left: 0;
  transition: 0.2s;
}
.header .navbar-toggler.navbar_expand span {
  background: transparent;
}
.header .navbar-toggler.navbar_expand span:before {
  top: 0;
  content: "";
  transform: rotate(-45deg);
}
.header .navbar-toggler.navbar_expand span:after {
  bottom: 0;
  content: "";
  transform: rotate(45deg);
}
.header .header__group {
  margin-top: 120px;
  margin-bottom: 234px;
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (min-width: 1200px) and (max-width: 1849.98px) {
  .header .header__group {
    margin-bottom: 120px;
    margin-top: 60px;
    max-width: 656px;
  }
}
@media (max-width: 1199.98px) {
  .header .header__group {
    flex-direction: column;
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .header .header__group .btn {
    width: 420px;
  }
}
@media (max-width: 767.98px) {
  .header .header__group .btn {
    width: auto;
    font-size: 28px;
  }
}
.header .header__group ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  gap: 20px;
}
.header .header__group ul li {
  padding: 0;
  font-size: 28px;
}

.footer {
  text-align: center;
  margin-bottom: 140px;
}
.footer h2 {
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .footer h2 {
    margin-bottom: 50px;
  }
}
.footer .footer__logo {
  margin-bottom: 70px;
}
.footer .footer__logo img {
  width: 148px;
}
@media (max-width: 767.98px) {
  .footer .footer__logo {
    margin-bottom: 50px;
  }
  .footer .footer__logo img {
    width: auto;
  }
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer .footer__menu {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 1439.98px) {
  .footer .footer__menu {
    flex-direction: column;
    font-size: 28px;
  }
}
@media (max-width: 767.98px) {
  .footer .footer__menu {
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 50px;
  }
}
.footer .footer__menu li {
  padding: 0 5px;
  margin-right: 70px;
}
@media (max-width: 1439.98px) {
  .footer .footer__menu li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.footer .footer__menu li:last-child {
  margin: 0;
}
.footer .footer__contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .footer .footer__contacts {
    font-size: 18px;
    margin-bottom: 50px;
    display: block;
  }
}
.footer .footer__socials {
  font-size: 33px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .footer .footer__socials {
    font-size: 20px;
  }
}
.footer .footer__socials li {
  margin-right: 15px;
}
.footer .footer__socials li:last-child {
  margin-right: 0;
}

@media (max-width: 1199.98px) {
  .modal {
    background-color: #EEEEEE;
  }
}

.modal-dialog {
  max-width: 1600px;
}
.modal-dialog .modal-content {
  padding: 130px;
  background-color: #EEEEEE;
}
@media (max-width: 1439.98px) {
  .modal-dialog .modal-content {
    padding: 80px;
  }
}
@media (max-width: 1199.98px) {
  .modal-dialog .modal-content {
    padding: 50px 20px;
  }
}
.modal-dialog .feedback__content {
  font-weight: 400;
  color: #2C2830;
  padding: 0;
}
.modal-dialog .feedback__content h2 {
  font-size: 50px;
  margin-right: 198px;
}
@media (max-width: 1439.98px) {
  .modal-dialog .feedback__content h2 {
    margin-right: 130px;
  }
}
@media (max-width: 1199.98px) {
  .modal-dialog .feedback__content h2 {
    margin-right: 0;
  }
}
.modal-dialog .feedback__content:after {
  content: none;
}
.modal-dialog .feedback__content .btn {
  font-weight: 400;
}
.modal-dialog .feedback__contacts .feedback__contacts-text {
  margin-right: 198px;
}
@media (max-width: 1439.98px) {
  .modal-dialog .feedback__contacts .feedback__contacts-text {
    margin-right: 130px;
  }
}
@media (max-width: 1199.98px) {
  .modal-dialog .feedback__contacts .feedback__contacts-text {
    margin-right: 0;
  }
}
.modal-dialog .form-item .form-control {
  color: #2C2830;
}
.modal-dialog .form-item .form-control:focus {
  border: 2px solid #2C2830;
}
.modal-dialog .form-item .form-label {
  background: #EEEEEE;
  color: #2C2830;
}